<ng-container *ngIf="texture$ | async as texture">
  <ngt-group *ngIf="!check(texture)">
    <ngt-mesh
      [receiveShadow]="true"
      [geometry]="model.geometry"
      [position]="[-2.3, -0.01, 0.36]"
      [scale]="[10.53, 0.12, 14.19]"
    >
      <ngt-mesh-physical-material
        [side]="2"
        metalness="4.5"
        roughness="0.2"
        [map]="texture"
        [envMap]="texture"
        clearcoat="1"
        clearcoatRoughness="0.5"
      >
      </ngt-mesh-physical-material>
    </ngt-mesh>
  </ngt-group>
</ng-container>
