<ngt-group
  *ngIf="number > 0"
  (pointerenter)="hover = true"
  (pointerout)="hover = false"
>
  <ngt-mesh
    ngtCursor
    [name]="'pinwall'"
    [geometry]="model['Pinwand'].geometry"
    [position]="[
      model['Pinwand'].position.x,
      model['Pinwand'].position.y - 0.1,
      modelType == 'a'
        ? model['Pinwand'].position.z + 0.4
        : model['Pinwand'].position.z + 0.1
    ]"
    [rotation]="pinwall.rotation"
    [scale]="pinwall.scale"
    (click)="openJobwallDialog()"
  >
    <ngt-mesh-standard-material
      [side]="1"
      [color]="colors.pinwall"
    ></ngt-mesh-standard-material>
  </ngt-mesh>
  <ngt-mesh
    ngtCursor
    [name]="'pinwall Frame'"
    [geometry]="model['Rahmen'].geometry"
    [position]="model['Rahmen'].position"
    [rotation]="pinwallFrame.rotation"
    [scale]="pinwallFrame.scale"
  >
    <ngt-mesh-standard-material
      [side]="2"
      metalness="1"
      roughness="0.7"
      [color]="hover ? 'black' : colors.frame"
    ></ngt-mesh-standard-material>
  </ngt-mesh>
</ngt-group>
