<ng-container *ngrxLet="aussteller$ as aussteller; suspenseTpl: loading">
  <div *ngIf="aussteller" class="container d-flex align-items-center justify-content-center">
    <div class="canvas" style="margin-bottom: 2rem; margin-top: -2rem">
      <skb-canvas [aussteller]="aussteller"></skb-canvas>
    </div>
  </div>
  <div class="container d-flex align-items-center justify-content-center">
    <br />

    <!-- <button
        style="margin: auto"
        class="btn btn-primary"
        (click)="aktualisieren(aussteller.id)"
      >
        Aktualisieren
      </button> -->
    <skb-firma-details [aussteller]="aussteller"></skb-firma-details>
    <br /><br />
  </div>
  <div class="container d-flex align-items-center justify-content-center">
    <skb-firma-table [aussteller]="aussteller"></skb-firma-table>
  </div>
  <br />
  <br />
  <!-- <div class="container d-flex align-items-center justify-content-center">
    <button
      style="margin: auto; box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4)"
      class="btn btn-light text-uppercase"
      (click)="aktualisieren(aussteller)"
    >
      Aktualisieren
      <mat-progress-bar
        mode="indeterminate"
        *ngIf="isUpdating"
      ></mat-progress-bar>
    </button>
  </div> -->
  <br /><br />
</ng-container>

<ng-template #loading><skb-loader></skb-loader> </ng-template>
