<ng-container *ngIf="textures$|async as texture">
  <ngt-group *ngIf="check(texture)">
    <ngt-mesh
    [receiveShadow]="false"
    [name]="'floor'"
    [geometry]="model.geometry"
    [position]="model.position"
    [scale]="[16.54, 0.53, 21.72]"
  >
    <ngt-mesh-physical-material
       [side]="2"
       metalness="3"
       roughness="0.25"
       [map]="texture[0]"
        [roughnessMap]="texture[1]"
        [envMap]="texture[0]"
        clearcoat="0.1"
        clearcoatRoughness="0.5"
    >
    </ngt-mesh-physical-material>
  </ngt-mesh>

  </ngt-group>
</ng-container>
