<div class="parallax">
  <div class="row">
    <div
      class="d-inline-flex align-items-center center-img"
    >
      <div
        class="d-flex flex-column text-white"
        (click)="showMessestand(homepage!.aussteller.slug)"
      >
        <ng-container *ngIf="hasLogo()">
          <img
            class="text align-self-center"
            src="{{ homepage!.skblogo!.url }}"
            style="height: 19em"
        /></ng-container>

        <h1
          class="text align-self-center p-2"
          style="text-shadow: 2px 2px 2px #000000; text-align: center"
        >
          {{ homepage!.ueberschrift }}
        </h1>
        <a
          mat-button
          class="mat-raised-button scale"
          style="
            text-shadow: 1px 1px 1px #000000;
            color: #fff;
            padding: 1.25rem !important;
          "
          >Hier geht es zur Messe und zum Infopoint der SKB</a
        >
      </div>
    </div>
  </div>
</div>

<!-- /Hier Gehts Zur Messe - Hochschul_Bild  -->

<div style="background-color: white">
  <br />
  <ng-container> </ng-container>
  <div
    class="row"
    style="margin: auto"
    *ngFor="let karte of infokarten; let i = index"
  >
    <div class="col">
      <div
        class="card mb-3"
        [ngStyle]="{
          background: i % 2 == 0 ? '#d3d3d3' : '#ffffff'
        }"
      >
        <div class="row g-0">
          <div class="col-lg-4 p-4 text-center">
            <img
              src="{{ karte?.bild?.url }}"
              alt="{{ karte.titel }}"
              class="img-fluid story_image"
            />
          </div>
          <div class="col-lg-8">
            <div class="card-body">
              <h2 class="card-title">{{ karte.titel }}</h2>
              <p class="card-text pb-2">
                {{ karte.beschreibung }}
              </p>
              <a
                href="{{ karte?.media?.url }}"
                target="_blank"
                class="btn btn-info"
                >Mehr erfahren >></a
              >
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <br />
</div>
