.flex-column {
  max-width: 85vw;
}

flex-column img {
  object-fit: contain;
  width: 80vw;
}

.scale {
  align-self: center;
  width: 75%;
  transition: all 0.5s ease-in-out;
  font-size: large;
  font-weight: 500;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  text-decoration: none;
  /* From https://css.glass */
  background: rgba(255, 255, 255, 0.16);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(6.1px);
  -webkit-backdrop-filter: blur(6.1px);
  border: 1px solid rgba(255, 255, 255, 0.19);
  &:hover {
    //transform: scale(1.25);
    transform: scale(1.25);
    /* From https://css.glass */
    background: rgba(174, 79, 79, 0.24);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(8.7px);
    -webkit-backdrop-filter: blur(8.7px);
    border: 1px solid rgba(255, 255, 255, 0.25);
  }
}
.parallax {
  /* The image used */
  background-image: url("../../../assets/home_pictures/HS_Eingang.jpg");
  /* Set a specific height */
  min-height: 500px;
  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: repeat;
  background-size: cover;
}

.hall-container {
  position: relative;
  width: 100%;
}

/* Make the image responsive */
.hall-container img {
  width: 100%;
  height: 100%;
}

.hall-container .btn_goin {
  top: 50%;
  left: 50%;
  position: absolute;
  background-color: #bb0000;
  color: white;
  font-size: 20px;
  border: hidden;
}

.hall-container .btntest:hover {
  background-color: #bb0000;
}

.hall-container .hall_p {
  top: 50%;
  left: 50%;
  position: absolute;
  color: white;
  background-color: black;
}

.media_list :nth-child(odd) {
  background-color: white;
}

.media_list :nth-child(even) {
  background-color: lightgray;
}

.greetings_image {
  /*width: 100%;
    height: 30vw;*/
  object-fit: fill;
  padding-right: 3em;
  max-height: 300px;
  align-self: center;
}

.modal-dialog {
  max-width: 800px;
  margin: 30px auto;
}

.modal-body {
  position: relative;
  padding: 0px;
}

.close {
  position: absolute;
  right: -30px;
  top: 0;
  z-index: 999;
  font-size: 2rem;
  font-weight: normal;
  color: #fff;
  opacity: 1;
}

.card-footer {
  background-color: white;
  border: hidden;
}

.card-footer .btn {
  background-color: be0000;
  border-color: white;
}

.card-img-top2 {
  width: 100%;
  height: 10vw;
  object-fit: contain;
  padding: 1em;
}

.card-body2 {
  width: 100%;
  min-height: 7vh;
}

.align-middle2 {
  text-align: center;
}

.center-img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.center-img {
  //height: 200vw;
  height: 1000px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}