<div class="container">
  <div class="w3ls-title table-responsive">
    <h3 class="agileits-title w3title1">Krankenkassen</h3>
  </div>

  <div class="row card mb-3">
    <div class="row g-0">
      <div class="col-lg-4 p-2 text-center">
        <img
          src="../../assets/beratung_pictures/pictures/Krankenkasse_unsplash.jpg"
          alt="..."
          class="card-img-top story_image img-responsive"
        />
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <p class="pb-2 card-text">
            Ihr habt Fragen rund um das Thema Krankenversicherung während des
            Praktikums, eines Auslandsaufenthalts oder nach Abschluss eures
            Studiums? Die Mitarbeiterinnen und Mitarbeiter der AOK sowie der
            Barmer helfen euch an ihren Messeständen kompetent weiter.
          </p>
          <a
            routerLink="/BesucherBefragung"
            target="”_blank”"
            class="btn btn-hs"
            >An Befragung teilnehmen >></a
          >
        </div>
      </div>
    </div>
  </div>

  <div
    class="row row-cols-4 row-cols-xs-4"
    *ngFor="let krankenkasse of krankenkassen$ | async"
  >
    <div
      class="card"
      style="width: 18rem"
      (click)="showViewMessestand(krankenkasse.slug)"
    >
      <img
        class="card-img-top"
        [src]="
          krankenkasse.firmenlogo
            ? krankenkasse.firmenlogo.url
            : krankenkasse.logo.url
        "
        [alt]="krankenkasse.firma"
      />
      <div class="card-body">
        <p class="card-text">{{ krankenkasse.firma }}</p>
      </div>
    </div>
    &nbsp;&nbsp;
  </div>

  <br />
</div>
