/* from https://www.w3schools.com/howto/howto_css_button_on_image.asp */
    /* Container needed to position the button. Adjust the width as needed */
    .hall-container {
        position: relative;
        width: 100%;
    }

        /* Make the image responsive */
        .hall-container img {
            width: 100%;
            height: 100%;
        }

    .story_image {
        width: 15vw;
        max-height: 250px;

    }

    .card-img-top2 {
        width: 100%;
        height: 10vw;
        object-fit: contain;
        padding: 1em;
    }


    .card-body2 {
        width: 100%;
        min-height: 7vh;
    }

    .align-middle2 {
        text-align: center;
    }