<br/><br/><br/>
<div class="container">
    <div class="w3ls-title">
        <h3 class="agileits-title w3title1">Messebuch 2022</h3>
    </div>

    <div class="card mb-3">
        <div class="row g-0">
            <div class="col-lg-4 p-2 text-center">
                <img src="../../../assets/home_pictures/links/Startseite_Messebuch2021.jpg" alt="..." class="card-img-top story_image img-responsive">
            </div>
            <div class="col-md-8">
                <div class="card-body">
                    <p class=" pb-2 card-text">Das Messehandbuch zur SKB | Virtuelle Studentische Karrierebörse bietet allen Interessierten eine umfassende Übersicht über alle Ausstellenden der Studentischen Karrierebörse sowie ergänzenden Informationen rund um die Themen Bewerbung und Karriere.</p>
                    <a href="https://www.haw-landshut.de/fileadmin/Hochschule_Landshut_NEU/Ungeschuetzt/Alumni_Career_Service_Gr%C3%BCnderberatung/SKB/Messebuch_2022.pdf" target="_blank" class="btn btn-hs">Jetzt downloaden >></a>
                </div>
            </div>
        </div>
    </div>
</div>
<br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/>
