<ngt-group *ngFor="let n of zettelNum | zettelNums">
  <ngt-mesh
    ngtCursor
    [geometry]="model['Zettel1'].geometry"
    [position]="model['Zettel' + n].position"
    [rotation]="zettel.rotation"
    [scale]="zettel.scale"
    (pointerenter)="hover = true"
    (pointerout)="hover = false"
  >
    <ngt-mesh-basic-material
      [side]="1"
      [color]="hover ? 'black' : 'white'"
    ></ngt-mesh-basic-material>
  </ngt-mesh>
</ngt-group>
