.socialbtns,
.socialbtns ul,
.socialbtns li {
    margin: 0;
    padding: 5px;
}

    .socialbtns li {
        list-style: none outside none;
        display: inline-block;
    }

.socialbtn {
    display: block;
    float: left;
    height: 48px;
    margin-left: 22px;
    width: 48px;
    margin-bottom: 7px;
    padding-top: 0;
    text-align: center;
    outline: none;
    line-height: 50px;
    font-size: 28px;
    position: relative;
    background-color: #7f7f7f;
    position: relative;
}

    .socialbtn > img {
        width: 30px;
        height: 30px;
        position: absolute;
        top: 50%;
        left: 50%;
        margin: -15px -15px;
        color: white;
    }

    h1.text-white {
        font-style: italic;
        }

    .w3l_footer_nav {
        text-align: center;
    }
    .bi{
      color: #17a2b8 ;
  &-instagram:hover{
color: red;

}
.bi{
      color: #17a2b8 ;
    &-facebook:hover{
color:dodgerblue;
}
    }
  }
