<mat-tab-group #tabRef mat-align-tabs="center" style="margin-bottom: 1rem">
  <mat-tab label="Alle Ausstellenden"></mat-tab>
  <!-- <mat-tab label="Ausstellende 18.05.2022"></mat-tab>
      <mat-tab label="Ausstellende 19.05.2022"></mat-tab> -->
</mat-tab-group>
<br />
<br />
<div class="row justify-content-center" scrollPosition>
  <app-search
    #search
    class="col-lg-4 col-md-10 col-sm-10 col-xs-10 text-control"
    style="margin: 1.5rem"
    [isAussteller]="true"
  ></app-search>

  <section class="col-lg-6 col-md-8 col-sm-12 col-xs-12">
  <skb-pagination [indexName]="'aussteller'" *ngIf="(ausstellers$|async)"> </skb-pagination>
  <skb-loader *ngIf="(isLoading$ | async); else messehalle"></skb-loader>
  <ng-template #messehalle>
    <ng-container *ngrxLet="ausstellers$ as ausstellers">
        <div class="row">
          <ng-container *ngFor="let un of ausstellers">
            <div class="col-xl-2 col-lg-4 col-md-6 col-sm-12 col-xs-12 expand">
              <a
                class="card text-dark mb-3"
                style="width: 18rem; height: 18rem"
                [routerLink]="getRouting(un['slug'])"
              >
                <div class="h6 text-center card-header">
                  {{ un["firma"] }}
                </div>
                <div class="card-body bcd" style="width: 100%; padding: 0.5rem">
                  <img
                    style="width: 100%; height: 100%"
                    class=""
                    [src]="
                      un['logo']
                        ? un['logo']['url']
                        : un['firmenlogo']
                        ? un['firmenlogo']['url']
                        : ''
                    "
                    alt="{{ un['firma'] }}"
                  />
                </div>
              </a>
            </div>
          </ng-container>
        </div>

        &nbsp;&nbsp;
      </ng-container
    >
  </ng-template>
        <skb-pagination *ngIf="(ausstellers$|async)" [indexName]="'aussteller'"> </skb-pagination>
      <ng-container *ngIf="!(ausstellers$|async)" #nothing>
        <table>
          <tbody>
            <tr>
              <td>Keine Firmen vorhanden.</td>
            </tr>
          </tbody>
        </table>
      </ng-container>
    </section>
</div>
