.sticky-top {
  top: 1em;
}
.text-control{
  *{
    overflow-wrap: break-word;
  }
}
.card {
  & *{
    transition: 0.5s;
  }

  &:hover {

    & *{
      color: white;
    }
    & .card-header{
      background-color: #6c757d;
    }
    & .card-body{
      background-color: #343a40;;
    }
  }
  cursor: pointer;
  &-img-top {
    width: 100%;
    height: 10vw;
    object-fit: contain;
    padding: 1em;
  }
  &-body {
    width: 100%;
    min-height: 7vh;
  }
}
.list-group {
  font-size: large;
  font-family: Georgia, "Times New Roman", Times, serif;
  &-item {
    display: inline-block;
    margin-left: 2em;
    margin-bottom: 1em;
    cursor: pointer;
    transition: 0.3s;
    &:hover {
      background-color: dimgray;
      color: white;
      scale: 1.1;
    }
  }
}

.align-middle {
  text-align: center;
}

.pointer {
  cursor: pointer;
}

.mat-expansion-panel-header {
  background-color: #f8f9fa;
  font-family: Arial, "Helvetica Neue", sans-serif;
}

@media screen and (max-width: 1029px) {
  .card {
    width: 90vw;
    height: auto;/*24vh;*/
    margin: auto;
    &-img {
      width: 100% !important;
      max-width: 100% !important;
      object-fit: contain;
      height: inherit;
    }
  }
}
@media screen and (min-width: 1030px) {
  .card {
    height: auto; /*32vh;*/
    &-img {
      width: 100% !important;
      height: inherit;
    }
  }
}

@media all and (min-width: 450px) {
  .card-img-top {
   height:6vw
  }
 }

 @media all and (max-width: 990px) {
  .card-img-top {
   height:10vw
  }
 }

 @media all and (max-width: 700px) {
  .card-img-top {
   height:15vw
  }
 }


 @media all and (max-width: 528px) {
  .card-img-top {
   height:20vw
  }
 }

.bcd {
    max-width: 100%;
    height: 100%;
    }
@media (min-width: 1240px) {
 .col-lg-4 {
  flex:0 0 33.33333333%;
  max-width:51%;
 }
}

@media (min-width: 992px) {
 .col-lg-4 {
  flex:0 0 33.33333333%;
  max-width:51%;
 }
}

@media (max-width: 1136px) {
 .col-lg-4 {
   display: table;
   margin: 0 auto;
 }

}

.card-body{
      padding: 0;
    }
