<nav class="navbar sticky-top navbar-expand-md navbar-light bg-gradient">
  <div class="container-fluid">
    <!-- NavBar Toggle for small screens -->
    <button
      class="navbar-toggler"
      type="button"
      data-toggle="collapse"
      data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div
      class="collapse navbar-collapse"
      id="navbarSupportedContent"
      *ngIf="items$ | async as Items"
    >
      <ul class="container navbar-nav justify-content-around">
        <ng-container
          *ngTemplateOutlet="menuList; context: { items: Items }"
        ></ng-container>
      </ul>
      <ng-template #menuList let-items="items">
        <ng-container *ngFor="let item of items; index as i">
          <li
            class="nav-item"
            [ngClass]="{
              dropdown: hasChild(i, items),
              active:
                hasChild(i, items) &&
                isActive(router.url, item.children)
            }"
          >
            <ng-container *ngIf="hasChild(i, items); else notDropdown">
              <a
                class="nav-link"
                [ngClass]="hasChild(i, items) ? 'dropdown-toggle' : ''"
                data-toggle="dropdown"
                role="button"
                aria-haspopup="true"
                aria-expanded="false"
                [target]="item.target"
                >{{ item.title }}</a
              >
            </ng-container>
            <ng-template #notDropdown>
              <a
                class="nav-link"
                role="button"
                aria-haspopup="true"
                aria-expanded="false"
                [routerLink]="item.url"
                [target]="item.target"
                >{{ item.title }}</a
              >
            </ng-template>

            <ng-container *ngIf="hasChild(i, items)">
              <ng-container
                *ngTemplateOutlet="
                  subMenuList;
                  context: { subitems: item.children }
                "
              >
              </ng-container>
            </ng-container>
          </li>
        </ng-container>
      </ng-template>

      <ng-template #subMenuList let-subitems="subitems">
        <ul class="dropdown-menu">
          <ng-container *ngFor="let subitem of subitems; index as i">
            <li [ngClass]="hasChild(i, subitems) ? 'nav-item dropdown' : ''">
              <ng-container *ngIf="hasChild(i, subitems); else notDropdown">
                <a
                  class="dropdown-item nav-link dropdown-toggle"

                  [target]="subitem.target"
                  >{{ subitem.title }}</a
                >
              </ng-container>
              <ng-template #notDropdown>
                <a
                  class="dropdown-item"
                  [ngClass]="
                    hasChild(i, subitems) ? 'nav-link dropdown-toggle' : ''
                  "
                  [routerLink]="subitem.url"
                  [target]="subitem.target"
                  >{{ subitem.title }}</a
                >
              </ng-template>

              <ng-container *ngIf="hasChild(i, subitems)">
                <ng-container
                  *ngTemplateOutlet="
                    subMenuList;
                    context: { subitems: subitem.children }
                  "
                ></ng-container>
              </ng-container>
            </li>
          </ng-container>
        </ul>
      </ng-template>
    </div>
  </div>
</nav>
