 nav{
    z-index: 999;
    position:relative;
    *{
      font-size: large;
    }

  }

  .navbar .container{
    align-items: flex-start !important;
  }

  .navbar-nav .nav-link {
    padding-right: 2rem;
    padding-left: 0;
  }

  @media only screen and (min-width: 825px) {
    .navbar-toggle.navbar-left {
      float: left;
      margin-left: 10px;
    }
  }
