.parallax {
    /* The image used */
    background-image: url('../../../assets/slider/over_navbar.jpeg');
    /* Set a specific height */
    min-height: 500px;

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

/* Wurde eingefügt um Logo Rechts auszurichten.
.row {
    width: 100%;
}*/

.headpic {
    height: 100vh;
    min-height: 500px;
    background-image: url('/assets/slider/over_navbar.jpeg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;


    }

.menu-panel {
    /*padding-top: 1rem;*/
    position: relative;
}

.text-block {
    position: absolute;
    bottom: 35px;
    /*left: 45px;*/
    background-color: #007AA3;
    color: white;
    /*padding-left: 40px;
      padding-right: 40px;*/
    padding: 20px;
    opacity: 0.9;
}

.text-center {
    text-align: right!important;
}

.img-fluid {
    width: 100%;
    height: 350px;
}

.tblLabel {
    width: 15%;
}

.tblEmpty {
    width: 15%;
}

.tblValue {
    width: 30%;
}

.tblEqual {
    width: 33%;
}

.half-width {
    width: 50%;
}

