<header class="container-fluid">
  <div class="row parallax">
    <div class="row justify-content-between align-items-end">
      <div class="col-lg-10 col-md-9 col-sm-9 col-xs-12">
        <h1 class="text-white" style="text-shadow:1px 1px 1px #000000; padding-left: 10px;">STUDENTISCHE KARRIEREBÖRSE 2023 <br/>
          AM 10. MAI 2023 IN DER SPARKASSEN-ARENA
           </h1>
      </div>
      <div class="col-lg-2 col-md-3 col-sm-3 col-xs-12  pb-2 col-auto text-center">
        <a href="/">
          <img class="img-fluid" src="../../../assets/skb_logo/SKB_Logo_NoBG.png"
            style="max-height: 100px; max-width: 140px;" />
        </a>
      </div>
    </div>
  </div>
</header>
