<div>

  <!--modal-body start-->
  <ng-container *ngIf="mediaUrl.length">
    <div class="embed-responsive embed-responsive-16by9">
      <iframe
        class="embed-responsive embed-responsive-16by9"
        style="height: 80vh;width: 80vw;"
        [src]="safeSrc"
        frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
        allowfullscreen
      ></iframe>
    </div>
  </ng-container>
  <ng-container *ngFor="let safeSrc of safeSrcs">
    <br>
    <div class="embed-responsive embed-responsive-16by9 ">
      <iframe
        class="embed-responsive embed-responsive-16by9"
        [src]="safeSrc"
        frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
        allowfullscreen
      ></iframe>
    </div>
    <br>
    <br>
  </ng-container>

  <div class="modal-footer">
    <button
      type="button"
      (click)="onNoClick()"
      class="btn btn-secondary"
      data-dismiss="modal"
    >
      Schließen
    </button>
  </div>
</div>
