<div class="w3ls-title">
    <h3 class="agileits-title w3title1">Befragung f&uuml;r Besuchende</h3>
</div>

<div class="row" style="margin:auto;">
    <div class="col">
        <div class="card mb-3">
            <div class="row g-0">
                <div class="col-lg-4 p-2 text-center">
                    <img src="../../assets/support_pictures/media6.jpg" alt="..." class="story_image">
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                        <p class=" pb-2 card-text">Nehmt euch einen Moment Zeit und gebt uns Feedback zur SKB I Virtuellen Studentischen Karriereb&ouml;rse 2022. Mit eurer Teilnahme erhöht ihr gleichzeitig eure Gewinnchancen bei unserem Gewinnspiel.</p>
                        <a href="https://evasys.fh-landshut.de/evasys/public/online/index/index?online_php=&pswd=HGPCJ&_ga=GA1.2.836122854.1608410823&__gads=ID=987a7da28a215e2a:T=1608410850:S=ALNI_MZTwXfVRnXa7KOaYdrQuFx0RBjMjg&ONLINEID=643530742282884436178049407999629739103483" target=”_blank” class="btn btn-hs">An Befragung teilnehmen >></a>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
