/* from https://www.w3schools.com/howto/howto_css_button_on_image.asp */
    /* Container needed to position the button. Adjust the width as needed */
    .hall-container {
        position: relative;
        width: 100%;
    }

        /* Make the image responsive */
        .hall-container img {
            width: 100%;
            height: 100%;
        }

    .story_image {
        width: 35vw;
        height: 100%;
        object-fit: contain;
        padding-right: 3em;
        max-height: 250px;
    }