<div class="container">

    <div class="text">
        <h3 class="agileits-title w3title1">DATENSCHUTZ</h3>
    </div>


    <br />
    <div class="entry-content">
        <h3>Information bei der Erhebung personenbezogener Daten nach Art. 13 DSGVO – SKB | Virtuelle Studentische Karrierebörse 2022</h3>
        <br />
        <p class="text pb-2">
            Gerne informieren wir Sie entsprechend der europäischen Datenschutz-Grundverordnung (DSGVO) über die Art und Weise, wie Ihre Daten personenbezogenen auf unserer Webseite verarbeitet werden. Wir möchten Sie über die rechtliche Grundlage der Verarbeitung Ihrer personenbezogenen Daten und Ihre Rechte als von der Datenverarbeitung Betroffene/Betroffener informieren.
        </p>
        <br />
        <h3>1. Bezeichnung der Verarbeitungstätigkeit</h3>
        <br />
        <p class="text pb-2">
            Erhebung von Daten zur Organisation der Veranstaltung SKB | Virtuelle Studentische Karrierebörse 2022.
        </p>
        <br />
        <h3>2. Name und Kontaktdaten des Verantwortlichen</h3>
        <br />
        <p class="text pb-2">Verantwortlich für die Datenverarbeitung ist</p>
        <p class="text pb-2">
            <strong>
                SKB Hochschule Landshut e.V.<br>
                Hochschule Landshut, Am Lurzenhof 1, 84036 Landshut
            </strong>
        </p>
        <p class="text pb-2">E-Mail: skb@haw-landshut.de</p>
        <p class="text pb-2">Vertreten durch den Vorstand:</p>
        <p class="text pb-2">
            <strong>
                Prof. Dr. Fritz Pörnbacher
            </strong>
        </p>
        <p class="text pb-2">E-Mail: praesident@haw-landshut.de; Tel. 0871 506 0</p>
        <br />
        <p class="text pb-2">
            <strong>
                Abgrenzung der Verantwortlichkeiten:
            </strong>
        </p>
        <br />

        <p class="text pb-2">
            Der SKB Hochschule Landshut e.V. bietet öffentlich-rechtlichen und privaten Stellen (Karriereservice der Hochschule Landshut, Gründerzentrum der Hochschule Landshut, Krankenkassen) sowie Unternehmen und sozialen Einrichtungen die Gelegenheit, zur SKB | Virtuelle Studentische Karrierebörse 2022 ihrerseits teilzunehmen und virtuelle Stände zu errichten. Diese sind aus Sicht des SKB Hochschule Landshut e.V. „Virtuelle Aussteller“ außerhalb des Vereins.
        </p>
        <p class="text pb-2">
            Die Verantwortung des SKB Hochschule Landshut e.V. umfasst die Daten zur Anmeldung und Organisation zur SKB | Virtuelle Studentische Karrierebörse 2022, sowie die Verarbeitung der Daten in den von der SKB bereitgestellten Videokonferenzen sowie dem Textchat, d.h. den Konferenzen, zu denen der SKB Hochschule Landshut e.V. einen Link oder Links – und gegebenenfalls Zugangsinformation wie Kennungen - an Interessierte bzw. angemeldete Teilnehmer der Veranstaltung ausgibt.
        </p>
        <p class="text pb-2">
            Die Verantwortung des SKB Hochschule Landshut e.V. umfasst nicht die Kommunikation, die persönlich oder über andere technische Mittel und Kanäle von und zu virtuellen Ausstellern erfolgt (wie z.B. über den Webauftritt, weitere Chats, E-Mail).
        </p>
        <p class="text pb-2">
            Wie im Internet üblich, kann ein Wechsel zu einem anderen Verantwortlichen durch das Anklicken eines Links erfolgen. Es ist möglich, dass Sie im Wandern durch unsere virtuellen Räume den Verantwortungsbereich des Hochschule Landshut e.V. verlassen.
        </p>
        <p class="text pb-2">
            Wir folgen in dieser Beschreibung einer Vorlage des Bayerischen Staatsministeriums des Inneren, 2018.
        </p>
        <br />
        <h3>3. Zwecke der Verarbeitung</h3>
        <br />
        <p class="text pb-2">
            Zweck der Verarbeitung der personenbezogenen Daten ist die Organisation der Veranstaltung SKB | Virtuelle Studentische Karrierebörse 2022. Hierzu werden Namen und Erreichbarkeitsdaten (wie E-Mail-Adressen der Teilnehmenden) sowie die vom Teilnehmenden getroffene Auswahl aus unserem Veranstaltungsprogramm sowie für die Videokonferenz erforderliche technische Daten der Teilnehmenden verarbeitet.
        </p>
        <br />
        <p class="text">
            <strong>Organisation- und Anmeldung:</strong>
        </p>
        <br />
        <p class="text pb-2">
            Wir verarbeiten Namen und Erreichbarkeitsdaten (wie E-Mail-Adressen der Teilnehmer) sowie die vom Teilnehmenden getroffene Auswahl aus unserem Veranstaltungsprogramm und gegebenenfalls weitere Daten, die sich auf die Veranstaltung beziehen, zur Anmeldung und Organisation der Veranstaltung.
        </p>
        <br />
        <p class="text">
            <strong>IT-Sicherheit:</strong>
        </p>
        <br />
        <p class="text pb-2">
            Sobald Sie sich in unserem Zugangslink anmelden, speichern wir Daten zur Gewährleistung der Netz- und Informationssicherheit, soweit dies erforderlich ist. Dies geschieht auch zur Gewährleistung der Netz- und Informationssicherheit im Rahmen einer Videokonferenz.
        </p>
        <br />
        <p class="text">
            <strong>Verlinkung auf Social Media Kanäle und Externe Links:</strong>
        </p>
        <br />
        <p class="text pb-2">
            Die Webseite enthält Verweise auf Webseiten Dritter, u.a., auf Social Media Kanäle. SKB ist nicht verantwortlich für deren Inhalte. Allerdings werden wir die Verlinkung auf externe Webseiten entfernen, wenn SKB Kenntnis erlangt hat, dass es sich um rechtswidrige Inhalte handelt.
        </p>
        <p class="text pb-2">
            Wir verlinken derzeit auf folgende Social-Media-Anbieter: Facebook, Twitter, LinkedIn, Xing, YouTube, Pinterest und Instagram mittels entsprechender Social Buttons. Um eine ungewünschte Übertragung Ihrer Nutzungsdaten an diese Dienste zu verhindern, kommen Sie erst mit Klick auf den Link zu den Diensten. Erst beim Aufruf der Links stellt Ihr Browser eine direkte Verbindung mit den Servern der genannten Dienste her. Wir haben weder Einfluss auf die erhobenen Daten und Datenverarbeitungsvorgänge, noch sind uns der volle Umfang der Datenerhebung, die Zwecke der Verarbeitung, die Speicherfristen bekannt. Auch zur Löschung der erhobenen Daten durch den Plug-in-Anbieter liegen uns keine Informationen vor.
        </p>
        <br />
        <p class="text">
            <strong>Externes Hosting</strong>
        </p>
        <br />
        <p class="text pb-2">
            Diese Webseite wird bei einem externen Dienstleister gehostet (Hoster). Die personenbezogenen Daten, die auf dieser Website erfasst werden, werden auf den Servern des Hosters gespeichert. Hierbei kann es sich v.a. um IP-Adressen, Kontaktanfragen, Meta- und Kommunikationsdaten, Vertragsdaten, Kontaktdaten, Namen, Webseitenzugriffe und sonstige Daten, die über eine Website generiert werden, handeln.
        </p>
        <p class="text pb-2">
            Der Einsatz des Hosters erfolgt zum Zwecke der Vertragserfüllung gegenüber unseren potenziellen und bestehenden Kunden (Art. 6 Abs. 1 lit. b DSGVO) und im Interesse einer sicheren, schnellen und effizienten Bereitstellung unseres Online-Angebots durch einen professionellen Anbieter (Art. 6 Abs. 1 lit. f DSGVO).
        </p>
        <p class="text pb-2">
            Unser Hoster wird Ihre Daten nur insoweit verarbeiten, wie dies zur Erfüllung seiner Leistungspflichten erforderlich ist und unsere Weisungen in Bezug auf diese Daten befolgen.
        </p>
        <p class="text pb-2">
            Wir setzen folgenden Hoster ein: IONOS. Speicherung der Website- bzw. Kundendaten sowie Verarbeitung und Hosting in Deutschland. Weitere Informationen unter www.ionos.de
        </p>
        <p class="text pb-2">
            Um die datenschutzkonforme Verarbeitung zu gewährleisten, haben wir einen Vertrag über Auftragsverarbeitung mit unserem Hoster geschlossen.
            <br />
        <p class="text">
            <strong>Server-Log-Dateien</strong>
        </p>
        <br />
        <p class="text pb-2">
            Der Provider der Webseiten erhebt und speichert automatisch Informationen in so genannten Server Log-Dateien, die Ihr Browser automatisch an uns übermittelt.
        </p>
        <p class="text pb-2">
            •	Diese Daten sind:<br />
            •	Typ und Version des verwendeten Browsers<br />
            •	verwendetes Betriebssystem<br />
            •	IP-Adresse und Hostname des zugreifenden Rechners<br />
            •	Website, von der aus der Zugriff erfolgt (Referrer-URL)<br />
            •	Name und URL der abgerufenen Datei<br />
            •	Datum und Uhrzeit der Serveranfrage
        </p>
        <p class="text pb-2">Eine Zusammenführung dieser Daten mit anderen Datenquellen wird nicht vorgenommen.</p>
        <p class="text pb-2">
            Die Erfassung dieser Daten erfolgt auf Grundlage von Art. 6 Abs. 1 lit. f DSGVO. Der Webseitenbetreiber hat ein berechtigtes Interesse an der technisch fehlerfreien
            Darstellung und der Optimierung seiner Website – hierzu müssen die Server-Log-
            Files erfasst werden.
        </p>
        <br />
        <p class="text">
            <h3>4. Rechtsgrundlagen der Verarbeitung</h3>

         <br />
        <p class="text pb-2">
            Rechtsgrundlage der Verarbeitung der Daten, für deren Verarbeitung Sie uns Ihre Einwilligung gegeben haben, ist Art. 6 Abs. 1 Buchstabe a der Datenschutzgrundverordnung (DSGVO) in Verbindung mit Art. 7 DSGVO.
        </p>
        <p class="text pb-2">
            Rechtsgrundlage für die Verarbeitung zur Durchführung eines Vertrages sind Art. 6 Abs. 1 Buchstabe b DSGVO.
        </p>
        <p class="text pb-2">
            Die Verarbeitung der Daten
        </p>
        <p class="text pb-2">
            für die SKB | Virtuelle Studentische Karrierebörse 2022 erfolgt gemäß Art. 6 Abs. 1 Buchstabe b DSGVO (Nutzungsverhältnis zwischen Ihnen und der SKB bei der Nutzung des Auftritts und der über Videokonferenzen angebotenen Veranstaltungen zur SKB | Studentische Karrierebörse)
        </p>
        <p class="text pb-2">
            Rechtsgrundlage für die Verarbeitung von Daten für die Öffentlichkeitsarbeit ist auch Art.4 Abs. 1 Bayerische Datenschutzgesetz - BayDSG.
        </p>
        <p class="text pb-2">
            Protokolldateien, Cookies und Sicherheitsupdates verwenden wir, soweit es für unseren Webauftritt und die Dienste, die wir bieten, technisch erforderlich ist, für die Prüfung oder Wartung unserer Systeme und zur Gewährleistung der Netz- und Informationssicherheit gemäß Art. 6 Abs. 1 Buchstaben c und e DSGVO i.V.m. Art. 6 Abs. 1 BayDSG, soweit wir ein Telemedium anbieten, gemäß § 13 Abs. 7 TMG, und soweit wir Telekommunikationsdienste anbieten, gemäß § 100 TKG.
        </p>
        <br />
        <p class="text">
            <h3>5. Empfänger*innen oder Kategorien von Empfänger*innen der personenbezogenen Daten</h3>

        <br />
        <p class="text pb-2">
            Ihre personenbezogenen Daten werden durch Stellen innerhalb der Hochschule Landshut für die Organisation der SKB | Virtuelle Studentische Karrierebörse 2022 verarbeitet. Die Verarbeitung der personenbezogenen Daten findet ausschließlich zur Organisation der SKB | Studentische Karrierebörse 2022 zur Durchführung der Veranstaltung statt.
        </p>
        <p class="text pb-2">
            An Dritte werden gezielt keine Daten übermittelt. Wenn Sie Kontakt zu den öffentlichen und privaten Stellen sowie Unternehmen und sozialen Einrichtungen aufnehmen, ist dies eine Kommunikation außerhalb der Hochschule.
        </p>
        <p class="text pb-2">
            Entsprechend dem Charakter des Internet sind allerdings Aufzeichnungen, die der SKB Hochschule Landshut e.V. zum Zweck der Öffentlichkeitsarbeit in ihrem Internetauftritt – auch dem Auftritt in sozialen Netzwerken - zugänglich macht aus dem Internetauftritt des SKB Hochschule Landshut e.V. weltweit abrufbar.
        </p>
        <br />
        <p class="text">
            <h3>6. Übermittlung von personenbezogenen Daten an ein Drittland</h3>

        <br />
        <p class="text pb-2">
            Außerhalb der Auftragsverarbeitung sind dem internationalen Charakter des Internet entsprechend allerdings Präsentationen, die der SKB Hochschule Landshut e.V. zum Zweck der Öffentlichkeitsarbeit macht, aus dem Internetauftritt der SKB auch in Drittländern abrufbar.
        </p>
        <br />
        <p class="text">
            <h3>7. Dauer der Speicherung der personenbezogenen Daten</h3>

        <br />
        <p class="text pb-2">
            Ihre Daten werden so lange gespeichert, wie es für die Organisation der Veranstaltung erforderlich ist bzw. soweit es Daten für die Presse- und Öffentlichkeitsarbeit betrifft, soweit es erforderlich für die Öffentlichkeitsarbeit ist.
        </p>
        <p class="text pb-2">
            Falls Sie Ihre Einwilligung widerrufen bzw. einer Verarbeitung widersprechen, werden wir Ihre personenbezogenen Daten entsprechend den Vorschriften der DSGVO löschen.
        </p>
        <br />
        <p class="text">
            <h3>8. Betroffenenrechte</h3>

        <br />
        <p class="text pb-2">
            Ausdrücklich möchten wir Sie auf Ihre Rechte nach der DSGVO hinweisen.
        </p>
        <p class="text pb-2">
            Sie haben das Recht Auskunft über die zu Ihrer Person gespeicherten Daten zu erhalten (Art. 15 DSGVO).
        </p>
        <p class="text pb-2">
            Sollten unrichtige personenbezogene Daten verarbeitet werden, steht Ihnen ein Recht auf Berichtigung zu (Art. 16 DSGVO).
        </p>
        <p class="text pb-2">
            Liegen die gesetzlichen Voraussetzungen vor, so können Sie die Löschung oder Einschränkung der Verarbeitung verlangen sowie Widerspruch gegen die Verarbeitung einlegen (Art. 17, 18 und 21 DSGVO).
        </p>
        <p class="text pb-2">
            Gegebenenfalls steht Ihnen ein Recht auf Datenübertragbarkeit zu (Art. 20 DSGVO).
        </p>
        <p class="text pb-2">
            Weiterhin besteht ein Beschwerderecht beim Bay. Landesamt für Datenschutzaufsicht (BayLDA): Bayerisches Landesamt für Datenschutzaufsicht (BayLDA)Bayerisches Landesamt für Datenschutzaufsicht (BayLDA), Postfach 1349, 91504 Ansbach Tel. 0981 180093-0Fax 0981 180093-800; E-Mail: poststelle@lda.bayern.de
        </p>
        <p class="text pb-2">
            Wenden Sie sich bitte in allen genannten Fällen der Wahrnehmung Ihrer Rechte und bei Änderung Ihrer Kontaktdaten an skb@haw-landshut.de
        </p>
        <br />
        <p class="text">
            <h3>9. Widerrufsrecht bei Einwilligung</h3>

        <br />
        <p class="text pb-2">
            Falls der SKB Hochschule Landshut e.V. Ihre Daten aufgrund einer Einwilligung verarbeitet, gilt: Sie können die Einwilligung in die Verarbeitung Ihrer Daten durch den SKB Hochschule Landshut e.V. jederzeit widerrufen. Durch den Widerruf der Einwilligung wird die Rechtmäßigkeit der aufgrund der Einwilligung bis zum Widerruf erfolgten Verarbeitung nicht berührt (Art. 7 Abs. 2 DSGVO).
        </p>
        <br />
        <p class="text">
            <h3>10. Pflicht zur Bereitstellung der Daten</h3>

        <br />
        <p class="text pb-2">
            Eine Teilnahme an der genannten Veranstaltung setzt voraus, dass der SKB Hochschule Landshut e.V. personenbezogene Daten im oben genannten und weitgehend von Ihnen bestimmbaren Umfang verarbeitet.
        </p>
    </div><!-- .entry-content -->
</div><!-- #primary -->
