<ngt-mesh
  [name]="'Blümentopf'"
  castShadow
  [receiveShadow]="true"
  [geometry]="model['die_rechte_Palme'].geometry"
>
  <ngt-mesh-basic-material
     [side]="2" [color]="colors.flowerpot"
  ></ngt-mesh-basic-material>
</ngt-mesh>
<ngt-mesh
  [name]="'Erdboden'"
  castShadow
  [receiveShadow]="true"
  [geometry]="model['die_rechte_Palme_1'].geometry"
>
  <ngt-mesh-standard-material
     [side]="2"  metalness="0.5" roughness="0.1" [color]="colors.soil"
  ></ngt-mesh-standard-material>
</ngt-mesh>
<ngt-mesh
  [name]="'Zweige'"
  castShadow
  [receiveShadow]="true"
  [geometry]="model['die_rechte_Palme_2'].geometry"
>
  <ngt-mesh-standard-material
     [side]="2"  metalness="0.5" roughness="0.1" [color]="colors.stem"
  ></ngt-mesh-standard-material>
</ngt-mesh>
<ngt-mesh
  [name]="'Blätter'"
  castShadow
  [receiveShadow]="true"
  [geometry]="model['die_rechte_Palme_3'].geometry"
>
  <ngt-mesh-standard-material
     [side]="2"  metalness="0.5" roughness="0.1" [color]="colors.leaves"
  ></ngt-mesh-standard-material>
</ngt-mesh>
