<ngt-group
  [name]="'Model-a'"
  *ngIf="specifications"
>
  <app-walls [model]="model" [color]="specifications['color']"></app-walls>
  <app-tafeln [model]="model"></app-tafeln>
  <app-floor
    [model]="model['Cube001']"
    [urls]="['assets/models/floor/floor2.jpg','assets/models/floor/roughness.jpg','assets/models/floor/displacement.png']"
  ></app-floor>

  <app-desk [model]="model" [urls]="specifications['diskUrls']"></app-desk>


  <app-chairs [model]="model"></app-chairs>
  <ngt-group
    [position]="[-0.84, 1.25, -1.81]"
    [rotation]="[0.5 | pi, 0, -0.57]"
    [scale]="[0.19, 0.2, 0.38]"
  >
    <app-table [model]="model"></app-table>
  </ngt-group>

  <ngt-group
    [position]="[-13.24, 0, -15.48]"
    [rotation]="[0, -0.8, 0]"
    [scale]="1.28"
  >
    <ngt-point-light castShadow [intensity]="1"> </ngt-point-light>
    <app-palm [model]="model"></app-palm>
  </ngt-group>
  <ngt-group
    [position]="[12.96, 0, -16.87]"
    [rotation]="[0, -0.8, 0]"
    [scale]="1.28"
  >
    <app-palm [model]="model"></app-palm>
  </ngt-group>
  <ngt-group
    [position]="[-11.77, 0, 18.77]"
    [rotation]="[0, -0.8, 0]"
    [scale]="1.28"
  >
    <app-palm [model]="model"></app-palm>
  </ngt-group>
</ngt-group>
