<div class="container">
  <br />
  <br />
  <div class="w3ls-title">
    <!--<h3 class="agileits-title w3title1">Fachvortr&auml;ge 18. Mai 2022</h3>-->
  </div>
  <div class="row align-self-center">
    <ng-container *ngFor="let fachvortrag of fachvortraege">
      <ng-container *ngIf="fachvortrag.aussteller">
        <div class="col-lg-3 col-md-12 col-sm-12 col-xs-12">
          <div
            style="
              position: relative;
              border-left: 2px dashed white;
              left: 50%;
              content: '';
              height: 150px;
              margin-top: -50px;
              margin-bottom: -50px;
              z-index: -1;
            "
          ></div>
        </div>

        <div class="col-lg-9 col-md-12 col-sm-12 col-xs-12"></div>

        <div
          class="col-lg-2 col-md-12 col-sm-12 col-xs-12 center align-self-center"
        >
          <p class="time text-center">
            {{ fachvortrag.start_time | date }} -
            {{ fachvortrag.end_time | date }} Uhr
          </p>
        </div>

          <div class="col-lg-3 col-md-12 col-sm-12 col-xs-12 align-self-center">
            <img 
            *ngIf="fachvortrag.aussteller.logo ||  fachvortrag.aussteller.firmenlogo"
            [src]="
            fachvortrag.aussteller.logo
              ? fachvortrag.aussteller.logo.url
              : fachvortrag.aussteller.firmenlogo
              ? fachvortrag.aussteller.firmenlogo.url
              : ''"
              class="card-img"
              alt="{{ fachvortrag.aussteller.firma }}"
            />
          </div>


        <div class="col-lg-7 col-md-12 col-sm-12 col-xs-12 expand">
          <div class="card-body">
            <h2>{{ fachvortrag.aussteller.firma }}</h2>
            <p class="card-title" style="color: black">
              {{ fachvortrag.title }}
            </p>
            <p class="card-text">
              {{ fachvortrag.text }}
            </p>
            <p class="card-text"><small class="text-muted"></small></p>
            <!-- <a
            href="{{fachvortrag.aussteller.}}"
            target="_blank"
            style="color: #be0000"
          >
            >> Pr&auml;sentation
          </a> -->
          </div>
        </div>

        <div class="col-lg-12 col-sm-12 col-xs-12"></div>
      </ng-container>
    </ng-container>
  </div>
</div>

<br />
<br />
