/* Times */
.agenda .agenda-time {
  width: 140px;
}

/* Room */
.agenda .agenda-room {
  width: 100px;
}

.time {
  background: var(--main-hs-red);
  padding: 8%;
  /*margin-right: 3vw;*/
  // margin-left: 3vw;
}

.card-body {
  background-color: #e7e6e6;
}

.row.equal {
  display: flex;
  flex-wrap: wrap;
}
@media screen and (max-width: 575px) {
  .expand {
    width: 90vw !important;
    margin: auto;
  }
}

.artigo_nome {
  display: inline-block;
  max-width: 250px;
  padding: 10px;
  word-break: break-word; /* optional */
}
