<div class="modal-header">
  <h5 class="modal-title" id="exampleModalLabel" style="font-size: large;">
    Stellenausschreibungen f&uuml;r {{ data.firma }}
  </h5>
  <button (click)="onClick()" type="button" class="close" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <div class="container p-4">
    <ul class="list-group">
      <li
        class="list-group-item list-group-item-action "
        *ngFor="
          let stellenauschreibung of data.stellenausschreibungen;
        "
      >
        <a
          href="{{ stellenauschreibung.file.url }}"
          target="_blank"
        >{{ stellenauschreibung.titel }}</a>
      </li>
    </ul>
  </div>
</div>
<div class="modal-footer">
  <button (click)="onClick()" type="button" class="btn btn-secondary ">
    Schließen
  </button>
</div>
