<div class="container-fluid" style="background-color: white">
  <br />
  <h4 class="ps-3 pt-4 mt-0 text-start">Alumni Stories</h4>
  <p class="ps-4 pt-2 pb-2">
    Wir freuen uns, nachfolgend einige Lebenswege unserer Alumni vorstellen zu
    dürfen.
  </p>

  <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
    <div class="carousel-inner p-2" style="margin:auto;">
      <!--Erste Dia-->
        <div class="carousel-item active">
          <div class="card-group">
            <ng-container *ngFor="let story of alumnistories; let j = index">
              <ng-container *ngIf="j < alumnistories.length / 2">
                <div class="card" style="margin: 1rem; height:60vh">
                  <img src="{{ story.bild[0].url }}"
                  class="card-image"
                  alt="{{ story.name }}"
                  style="height: 100%; object-fit: contain;">

                  <div class="card-body">
                    <h5 class="card-title">{{ story.name }}</h5>
                    <p class="card-text">{{ story.beschreibung }}</p>
                  </div>
                  <div class="card-footer text-center" *ngIf="story.storypdf">
                    <a
                      href="{{ story.storypdf.url }}"
                      target="_blank"
                      class="btn btn-hs"
                      >Mehr erfahren >></a
                    >
                  </div>
                </div>
              </ng-container>
            </ng-container>
          </div>
        </div>
      <!-- EOF Erste Dia-->
      <!-- Zweite Dia-->
        <div class="carousel-item">
          <div class="card-group">
            <ng-container *ngFor="let story of alumnistories; let j = index">
              <ng-container *ngIf="j >= alumnistories.length / 2">
                <div class="card" style="margin: 1rem; height:60vh">
                  <img src="{{ story.bild[0].url }}"
                  class="card-image"
                  alt="{{ story.name }}"
                  style="height: 100%; object-fit: contain;">

                  <div class="card-body">
                    <h5 class="card-title">{{ story.name }}</h5>
                    <p class="card-text">{{ story.beschreibung }}</p>
                  </div>
                  <div class="card-footer text-center" *ngIf="story.storypdf">
                    <a
                      href="{{ story.storypdf.url }}"
                      target="_blank"
                      class="btn btn-hs"
                      >Mehr erfahren >></a
                    >
                  </div>
                </div>
              </ng-container>
            </ng-container>
          </div>
        </div>

      <!-- EOF Zweite Dia-->

      <a
        class="carousel-control-prev"
        style="margin-left: -50px"
        role="button"
        href="#carouselExampleControls"
        data-slide="prev"
      >
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a
        class="carousel-control-next"
        style="margin-right: -50px"
        role="button"
        href="#carouselExampleControls"
        data-slide="next"
      >
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div>
  </div>
  <br />
</div>
