    <div class="container">
        <div class="w3ls-title">
            <h3 class="agileits-title w3title1" style="font-size: large; margin-top:2rem;">FAQs für Ausstellende</h3>
        </div>

        <div class="card mb-3" style="cursor: default;">
            <div class="row g-0">
                <div class="col-lg-4 col-md-4 p-2 text-center">
                    <img src="/../../assets/support_pictures/AustellendeFAQ.jpg" alt="..." class="card-img-top story_image img-responsive">
                </div>
                <div class="col-lg-8 col-md-8">
                    <div class="card-body" style="background: #fff;" >
                        <p class=" pb-2 card-text" style="color: grey;">
                            Hier finden Sie Antworten zu den wichtigsten Fragen rund um die 26. Studentische Karrierebörse 2022.
                        </p>

                    </div>
                </div>
            </div>
        </div>

      <!-- <div class="card mb-3">
            <div class="row g-0">

                <div class="col-md-12 pt-2 pb-2">
                    <a href="https://www.haw-landshut.de/fileadmin/Hochschule_Landshut_NEU/Ungeschuetzt/Alumni_Career_Service_Gr%C3%BCnderberatung/SKB/FAQ_Zoom.pdf" target=”_blank” class="btn btn-hs" style="width:100%; text-align:left; text-decoration: underline;">
                        Alles Wichtige zu Zoom erfahren Sie hier.
                    </a>
                </div>
            </div>
        </div>-->


            <mat-accordion>
                <!--1. Frage -->
                <mat-expansion-panel>
                    <mat-expansion-panel-header>
                        <mat-panel-title h2> Wie läuft die Veranstaltung ab? </mat-panel-title>
                    </mat-expansion-panel-header>
                    <div>
                        <p color="primary">
                            Die Studentische Karrierebörse findet am 18. und 19. Mai 2022 jeweils von 09:30 Uhr - 16:00 Uhr in der Sparkassen-Arena in Landshut  statt.
                            Zusätzlich zum persönlichen Austausch an den Messeständen erwartet die Besuchenden ein abwechslungsreiches Programm an Fachvorträgen.
                            Ab dem 20. Mai 2022 werden hier auf der virtuellen Veranstaltungsplattform die Online-Messestände veröffentlicht.
                        </p>
                    </div>
                </mat-expansion-panel>


                <!--2. Frage -->
                <mat-expansion-panel>
                    <mat-expansion-panel-header>
                        <mat-panel-title h2> Welche Zielgruppe wird an der Messe teilnehmen? </mat-panel-title>
                    </mat-expansion-panel-header>
                    <div>
                        <p color="primary">
                            Die Messe richtet sich in erster Linie an Studierende, die entweder nach einem Praktikumsplatz, einer Werksstudententätigkeit, einem Kooperationspartner für ihre Bachelor-/Masterarbeit oder nach einem Direkteinstieg in die Arbeitswelt nach dem Studium suchen. Ebenso ist die Messe auch für Schüler*innen und Young Professionals gedacht.
                        </p>
                    </div>
                </mat-expansion-panel>




                <!--3. Frage -->
                <mat-expansion-panel>
                    <mat-expansion-panel-header>
                        <mat-panel-title h2> Wer kann mir mit Problemen während der Messe helfen? </mat-panel-title>
                    </mat-expansion-panel-header>
                    <div>
                        <p color="primary">
                            An beiden Messetagen steht Ihnen das Messeteam an den SKB-Infoständen jederzeit für Fragen zur Verfügung.
                        </p>
                    </div>
                </mat-expansion-panel>

                <!--frage 4-->
                <mat-expansion-panel>
                    <mat-expansion-panel-header>
                        <mat-panel-title h2> Wurde die Veranstaltung bei den Studierenden ausreichend kommuniziert? </mat-panel-title>
                    </mat-expansion-panel-header>
                    <div>
                        <p color="primary">
                            Das Marketingteam der SKB hat keine Kosten & Mühen gescheut und die Messe intensiv auf den unterschiedlichsten Kanälen, auf dem Campus sowie in und um Landshut beworben.
                        </p>
                    </div>
                </mat-expansion-panel>


                <!--4. Frage
                <mat-expansion-panel>
                    <mat-expansion-panel-header>
                        <mat-panel-title h2> Welche IT- Voraussetzungen werden benötigt? </mat-panel-title>
                    </mat-expansion-panel-header>
                    <div>
                        <p color="primary">
                            Die Messewebsite wird mit der aktuellste Browserversion einer der folgenden Browser (Microsoft Edge, Mozilla Firefox, Google Chrome, Safari) am besten dargestellt. Um die Besuchenden im Video Chat bestmöglich beraten zu können, empfehlen wir die Benutzung einer Kamera (Webcam oder Laptopkamera) und eines Mikrofons (wir empfehlen die Verwendung eines Headsets).
                        </p>
                    </div>
                </mat-expansion-panel>-->

                <!--5. Frage -->
               <!-- <mat-expansion-panel>
                    <mat-expansion-panel-header>
                        <mat-panel-title h2> Erhalten Messeteilnehmer einen Account? </mat-panel-title>
                    </mat-expansion-panel-header>
                    <div>
                        <p color="primary">
                            Nein, die Messebesuchenden können die Messe ohne Anmeldung besuchen.
                        </p>
                    </div>
                </mat-expansion-panel>-->

                <!--6. Frage -->
                <mat-expansion-panel>
                    <mat-expansion-panel-header >
                        <mat-panel-title h2> Gibt es verschieden Arten des Online-Messestandes? Wenn ja, welche? </mat-panel-title>
                    </mat-expansion-panel-header>
                    <div>
                        <p color="primary">
                            Ja, Sie konnten im Rahmen Ihrer Buchung zwischen zwei verschiedenen Arten des Messestandes wählen.
                        </p>
                    </div>
                </mat-expansion-panel>


                <!--7. Frage -->

            </mat-accordion>


        <br />
        <div class="card mb-3" style="cursor: default;">
            <div class="row g-0">
                <div class="col-md-10">
                    <div class="card-body" style="background: #fff;">
                        <p class=" card-text" style="color: grey;">
                            <b style="color: grey;">Die richtige Antwort ist nicht dabei?</b>
                            <br />
                            Bei Fragen rund um die Messe stehen wir Ihnen gern telefonisch unter 0871 506 106 bzw. per E-Mail <a style="color: #007bff;" href="mailto:skb@haw-landshut.de">skb@haw-landshut.de</a> zur Verfügung.
                            <br/>

                        </p>

                    </div>
                </div>
            </div>
        </div>
    </div>

