.agenda {
    }

        /* Times */
        .agenda .agenda-time {
            width: 140px;
        }


        /* Events */
        .agenda .agenda-events {
        }

            .agenda .agenda-events .agenda-event {
            }



        /* Room */
        .agenda .agenda-room {
            width: 100px;
        }

    .accordion-button:after {
        background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23ffffff'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
        color: white;
    }

    @media (max-width: 767px) {
    }

    /* from https://www.w3schools.com/howto/howto_css_button_on_image.asp */
    /* Container needed to position the button. Adjust the width as needed */
    .hall-container {
        position: relative;
        width: 100%;
    }

        /* Make the image responsive */
        .hall-container img {
            width: 100%;
            height: 100%;
        }

    .story_image {
        width: 15vw;
        max-height: 250px;
    }

    .card-img-top2 {
        width: 100%;
        height: 10vw;
        object-fit: contain;
        padding: 1em;
    }


    .card-body2 {
        width: 100%;
        min-height: 7vh;
    }

    .align-middle2 {
        text-align: center;
    }

    .mat-expansion-button::after {
        background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23ffffff'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
    }
    
    .mat-expansion-panel-header.mat-expansion-panel-header {
        border-color: white;
        border-width: 2px;
    }
    
    .mat-expansion-panel-header-title {
        color: white;
        font-size: 1rem;
        
    }
    
    .mat-expansion-panel-body {
        font-size: 1rem;
    }
    
    .mat-expansion-panel-header {
        background-color: grey;
        font-family: Arial, Helvetica, sans-serif;
        box-shadow: white;
    }
    
    .mat-expansion-panel-header.mat-expansion-panel-header.mat-expanded {
        background: grey !important;
    }
    
    .mat-expansion-panel-header.mat-expansion-panel-header:hover {
        background: grey !important;
    }
    
    .mat-expansion-panel-content > .mat-expansion-panel-body {
        padding: 1rem 1.25rem;
    }
    
    .mat-expansion-indicator::after {
        color: white;
      }
    