<ngt-group *ngIf="textures$ | async as textures">
  <ng-container *ngIf="modelType != 'a'; else a">
    <ngt-mesh
      [name]="'lower right logo'"
      [geometry]="model['big_logo_obj'].geometry"
      [position]="model['big_logo_obj'].position"
      [rotation]="logos.lowerRightLogo.rotation"
      [scale]="logos.lowerRightLogo.scale"
      [material]="lowerRightLogoM"
    >
    </ngt-mesh>
    <ngt-mesh
      ngtCursor
      [name]="'lower left logo'"
      [geometry]="model['picture_obj'].geometry"
      [position]="model['picture_obj'].position"
      [rotation]="logos.lowerLeftLogo.rotation"
      [scale]="logos.lowerLeftLogo.scale"
      [material]="lowerLeftLogoM"
      (click)="openSliderDialog()"
    >
    </ngt-mesh>
    <ngt-mesh

    [name]="'upper left logo'"
    [geometry]="model['LogoWithName'].geometry"
    [position]=" model['Logo'].position"
    [rotation]="logos.upperLeftLogo.rotation"
    [scale]="[scaling[1][0],0.5, scaling[1][1]]"
    [material]="upperRightLogoM"
  >
  </ngt-mesh>
  <ngt-mesh

    [name]="'upper right logo'"
    [geometry]="model['LogoWithName'].geometry"
    [position]="model['LogoWithName'].position"
    [rotation]="logos.upperRightLogo.rotation"
    [scale]="[scaling[1][0],0.5, scaling[1][1]]"
    [material]="upperRightLogoM"
  >
  </ngt-mesh>
  </ng-container>
  <ng-template #a>
    <ngt-mesh
      [name]="'lower left logo'"
      [geometry]="model['big_logo_obj'].geometry"
      [position]="model['big_logo_obj'].position"
      [rotation]="logos.lowerLeftLogo.rotation"
      [scale]="logos.lowerLeftLogo.scale"
      [material]="lowerRightLogoM"
    >
    </ngt-mesh>
    <ngt-mesh
      ngtCursor
      [name]="'lower right logo'"
      [geometry]="model['picture_obj'].geometry"
      [position]="model['picture_obj'].position"
      [rotation]="logos.lowerRightLogo.rotation"
      [scale]="logos.lowerRightLogo.scale"
      [material]="lowerLeftLogoM"
      (click)="openSliderDialog()"
    >
    </ngt-mesh>
      <ngt-mesh

    [name]="'upper left logo'"
    [geometry]="model['LogoWithName'].geometry"
    [position]=" model['LogoWithName'].position"
    [rotation]="logos.upperLeftLogo.rotation"
    [scale]="[scaling[1][0],0.5, scaling[1][1]]"
    [material]="upperRightLogoM"
  >
  </ngt-mesh>
  <ngt-mesh

    [name]="'upper right logo'"
    [geometry]="model['Logo'].geometry"
    [position]="model['Logo'].position"
    [rotation]="logos.upperRightLogo.rotation"
    [scale]="[scaling[1][0],0.5, scaling[1][1]]"
    [material]="upperRightLogoM"
  >
  </ngt-mesh>
  </ng-template>

</ngt-group>
