<ng-container *ngrxLet="homepage$ as homepage; suspenseTpl: loading">
  <div class="parallax2" *ngIf="homepage" scrollPosition>
    <skb-greeting
      [homepage]="homepage"
      [greetingTitle]="greetingTitle"
    ></skb-greeting>

    <skb-messepartner
      [messepartnerTitle]="messepartnerTitle"
    ></skb-messepartner>

    <skb-alumni
      [alumnistories]="homepage.alumniStorie"
      [alumniTitle]="alumniTitle"
    ></skb-alumni>

    <skb-links
      [homepage]="homepage"
      [infokarten]="homepage.infokarten"
      [linksTitle]="linksTitle"
    ></skb-links></div
></ng-container>
<ng-template #loading><skb-loader></skb-loader></ng-template>
