.parallax2 { /* The image used */
    // background-image: url('./assets/home_pictures/HS_Eingang.jpg');
    /* Set a specific height */ min-height: 500px;
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}


.hall-container {
    position: relative;
    width: 100%;
}

    /* Make the image responsive */
    .hall-container img {
        width: 100%;
        height: 100%;
    }


    .hall-container .btn_goin {
        top: 50%;
        left: 50%;
        position: absolute;
        background-color: #bb0000;
        color: white;
        font-size: 20px;
        border: hidden;
    }


    .hall-container .btntest:hover {
        background-color: #bb0000;
    }

    .hall-container .hall_p {
        top: 50%;
        left: 50%;
        position: absolute;
        color: white;
        background-color: black;
    }

.media_list :nth-child(odd) {
    background-color: white;
}

.media_list :nth-child(even) {
    background-color: lightgray;
}


.greetings_image {
    /*width: 100%;
    height: 30vw;*/
    object-fit: fill;
    padding-right: 3em;
    max-height: 300px;
    align-self: center;
}


.modal-dialog {
    max-width: 800px;
    margin: 30px auto;
}



.modal-body {
    position: relative;
    padding: 0px;
}

.close {
    position: absolute;
    right: -30px;
    top: 0;
    z-index: 999;
    font-size: 2rem;
    font-weight: normal;
    color: #fff;
    opacity: 1;
}

.card-footer {
    background-color: white;
    border: hidden;
}

    .card-footer .btn {
        background-color: be0000;
        border-color: white;
    }

.card-img-top2 {
    width: 100%;
    height: 10vw;
    object-fit: contain;
    padding: 1em;
}

.card-body2 {
    width: 100%;
    min-height: 7vh;
}

.align-middle2 {
    text-align: center;
}
