<ng-container *ngIf="model$ | async as model">
  <ng-container *ngIf="specifications && model">
    <app-lights [modelType]="messestandType"></app-lights>
    <ngt-group
      [name]="'Model'"
      [position]="position"
      [rotation]="rotation"
      *ngIf="specifications"

    >
      <app-pinwall
        [model]="model"
        [flyersData]="{
          firma: specifications['firma'],
          stellenausschreibungen: specifications['stellenausschreibungen']
        }"
        [modelType]="messestandType"
        [number]="specifications['numOfFlyers']"
      ></app-pinwall>
      <app-logos
        [model]="model"
        [urls]="specifications['logosUrls']"
        [sliderData]="{
          firma: specifications['firma'],
          bilder: specifications['bilder']
        }"
        [scaling]="specifications['scaling']"
        [modelType]="messestandType"
      ></app-logos>
      <app-tv
        [model]="model"
        [modelType]="messestandType"
        [videoDialog]="{
          firma: specifications['firma'],
          videoUrls: specifications['videoUrls']
        }"
        [urls]="specifications['videoUrlImages']"
      ></app-tv>
      <app-zettel
        [model]="model"
        [number]="specifications['numOfFlyers']"
        [modelType]="messestandType"
      ></app-zettel>
      <app-messestand-a
        [model]="model"
        [specifications]="specifications"
        *ngIf="messestandType !== 'b'"
      >
      </app-messestand-a>
      <app-messestand-b
        *ngIf="messestandType === 'b'"
        [model]="model"
        [specifications]="specifications"
      >
      </app-messestand-b>
    </ngt-group>
  </ng-container>
</ng-container>
