<ngt-soba-environment [preset]="'forest'"></ngt-soba-environment>
<ng-container *ngIf="modelType=='a'; else b">
  <!-- <ngt-ambient-light [args]="['white'|color,2]"></ngt-ambient-light> -->
  <!-- <ngt-spot-light
    [position]="[66.7337, 9.27317, 10.072]"
    [rotation]="[43.8808 | radian, -7.27067 | radian, 93.8993 | radian]"
    [intensity]="0.2"

    castShadow
  >
  </ngt-spot-light> -->

 <!-- <ngt-spot-light [name]="'Vorderwand-Licht'"
    [position]="[-12.835563, 10.964, 20.0107]"
    [rotation]="[0 | radian, (-45) | radian, 0 | radian]"
    [intensity]="0.8"

    castShadow
  ></ngt-spot-light> -->
   <!-- <ngt-spot-light
    [position]="[72.9989, 26.3986, 36.8423]"
    [rotation]="[82.1757 | radian, -18.6044 | radian, 71.3801 | radian]"
    [intensity]="0.25"
    castShadow
  ></ngt-spot-light> -->

  <!-- <ngt-directional-light castShadow [ngtDirectionalLightHelper]="" [intensity]="1" [position]="[0,10,10]">
  </ngt-directional-light> -->
  <ngt-point-light [castShadow]="false"  [intensity]="0.3" [position]="[3,2,-35]">
  </ngt-point-light>
<!-- <ngt-directional-light castShadow [ngtDirectionalLightHelper]="" [intensity]="1" [position]="[20,5,-35]">
  </ngt-directional-light> -->
<!-- <ngt-directional-light castShadow [ngtDirectionalLightHelper]="" [intensity]="1" [position]="[20,5,-10]">
  </ngt-directional-light> -->
</ng-container>
<ng-template #b>
<ngt-directional-light
  castShadow
  [intensity]="0.14"
  [position]="[0, 10, -5]"
>
</ngt-directional-light>
<ngt-directional-light
  [castShadow]="false"
  [intensity]="0.1"
  [position]="[0, 5, 20]"
>
</ngt-directional-light>
<ngt-directional-light
  [castShadow]="false"
  [intensity]="0.1"
  [position]="[20, 5, 0]"
>
</ngt-directional-light>
<ngt-directional-light
  [castShadow]="false"
  [intensity]="0.1"
  [position]="[20, 5, -10]"
>
</ngt-directional-light>
<!-- <ngt-point-light [ngtPointLightHelper]="" [position]="[50,50,50]" castShadow></ngt-point-light> -->
<!-- <ngt-spot-light [ngtSpotLightHelper]="" [position]="[3,10,13]" castShadow></ngt-spot-light> -->
<!-- <ngt-spot-light [ngtSpotLightHelper]="" [rotation]="[0,0,90|radian]" [position]="[-4,20,0]" [castShadow]="false"></ngt-spot-light> -->
<!-- <ngt-hemisphere-light [intensity]="0.35" [ngtHemisphereLightHelper]="" [position]="[10,20,10]"></ngt-hemisphere-light> -->


</ng-template>
<!---   Model-B Lichter   --->
