<ngt-group [position]="[-15.89, 1.02, -6.75]" [name]="'die Wände'">
  <app-upperwalls [model]="model['die_Wändesammlung_1']"></app-upperwalls>
  <app-lowerwalls [model]="model['die_Wändesammlung']" [color]="color"></app-lowerwalls>
</ngt-group>
