
<div class="modal-header">
    <h5 class="modal-title" id="exampleModalLabel">Hinweis zum Datenschutz</h5>
    <button (click)="onNoClick()" type="button" class="close" aria-label="Close">  <span aria-hidden="true">&times;</span></button>
</div>
<div class="modal-body">
    <p class="pb-4">
        Mit 'OK' verlassen Sie die Webseite des SKB Hochschule Landshut e.V und werden <b>zu einer externen Webseite weitergeleitet</b>.
        Informationen zu den dort erfassten Daten und deren Verarbeitung finden Sie in deren Datenschutzerklärung.
    </p>
</div>
<div class="modal-footer">
    <a target=”_blank” class="btn btn-hs" (click)="openMedia()">OK</a>
</div>   
   