<div class="media" *ngIf="messepartners$ | async as messepartners">
  <div class="media-body p-4" style="background-color: lightgray">
    <h5 class="text-start ms-4 pb-4 text-uppercase" style="font-size: 2em">
      Messepartner
    </h5>
    <p class="black ms-3">Wir danken unseren Premium-Messepartnern!</p>
    <br />

    <div class="row">
      <div
        class="col-lg-3 col-md-6 col-sm-6 col-xs-12 p-4"
        *ngFor="let m of (messepartners|getArray)"
      >
        <figure
          class="card align-items-center"
          style="height: 21rem"
          (click)="showViewMessestand(m.slug? m.slug:'')"
        >
            <img
              [src]="m.logo? m.logo.url:m.firmenlogo? m.firmenlogo.url:''"
              class="card-img-top p-4"
              style="object-fit: contain; width: 100%; height: 16.5rem"
            />


          <figcaption style="text-align: center">{{ m.firma }}</figcaption>
        </figure>
      </div>


    </div>
  </div>
  <br />
</div>
