<ngt-group
  ><ngt-mesh
    [name]="'linker Stuhl'"
    [position]="[-7.47, 3.09, -1.34]"
    [scale]="0.01"
    [rotation]="[-(1.0 | pi), -0.57, -(1.0 | pi)]"
    [geometry]="model['chair_made_of_metal_and_wood'].geometry"
    castShadow
    [receiveShadow]="true"
  >
    <ngt-mesh-standard-material
        [side]="2"
        metalness= "1.0"
        roughness="0.1"
        [color] ="this.color"
    ></ngt-mesh-standard-material>
  </ngt-mesh>
  <ngt-mesh
    [name]="'rechter Stuhl'"
    [geometry]="model['chair_made_of_metal_and_wood001'].geometry"
    [position]="[1.94, 3.17, -7.69]"
    [rotation]="[0, 0.54, 0]"
    [scale]="0.01"
    castShadow
    [receiveShadow]="true"
  >

    <ngt-mesh-standard-material
        [side]="2"
        metalness="1.0"
        roughness="0.1"
        [color]="this.color"
    ></ngt-mesh-standard-material>
  </ngt-mesh>
</ngt-group>
