<mat-tab-group #tabRef mat-align-tabs="center" style="margin-bottom: 1rem">
  <mat-tab label="Jobwall"></mat-tab>
</mat-tab-group>
<div class="row justify-content-center" scrollPosition>
  <app-search
    #search
    class="col-lg-4 col-md-10 col-sm-10"
    style="margin: 0.8rem"
    [isAussteller]="false"
  ></app-search>


    <section
      class="col-lg-6 col-md-12 col-sm-12"
      *ngIf="stellenausschreibungen$ | async as stellenausschreibungen"
    >
      <skb-pagination
        [indexName]="'stellenausschreibung'"
      >
      </skb-pagination>
  <skb-loader *ngIf="isLoading$ | async;"></skb-loader>
      <ng-container
        *ngFor="
          let stellenausschreibung of stellenausschreibungen;
          let i = index
        "
      >
        <div
          class="col-lg-12 col-md-12 col-sm-12 col-xs-12"
          style="
            padding-left: 1rem;
            padding-right: 1rem;
            padding-bottom: 0.5rem;
          "
        >
          <div class="card bg-light" *ngIf="stellenausschreibung['file']">
            <div class="card-body">
              <a
                class="stretched-link"
                href="{{ stellenausschreibung['file']['url'] }}"
                target="_blank"
              >
                <div class="stellenausschreibung row">
                  <div
                    class="col-lg-4 col-md-12 col-sm-12 col-xs-12"
                    *ngIf="stellenausschreibung['logo'] as logo"
                  >
                    <div class="img-fluid align-middle card-img-top">
                      <a style="max-width: 13vw; max-height: 25vh"
                        ><img
                          [src]="logo.url"
                          alt=""
                          class="img-fluid img-responsive"
                          style="
                            object-fit: contain;
                            max-width: 80%;
                            max-height: 60%;
                          "
                      /></a>
                    </div>
                  </div>
                  <div
                    class="col-lg-8 col-md-12 col-sm-12 col-xs-12 p-4"
                    style="color: black"
                  >
                    <h4>
                      <b>{{ stellenausschreibung["titel"] }}</b>
                    </h4>
                    <h5 *ngIf="stellenausschreibung['aussteller']">
                      <b><i>Unternehmen: </i></b
                      ><span>{{
                        stellenausschreibung["aussteller"]["firma"]
                      }}</span>
                    </h5>
                    <br />
                    <h5>
                      <b><i>Art: </i></b
                      ><span>{{ stellenausschreibung["art"] }}</span>
                    </h5>
                    <br />
                  </div>
                </div>
              </a>
            </div>
          </div>
        </div>
      </ng-container>
      <ng-container *ngIf=" !(isLoading$|async) && !stellenausschreibungen.length">
        <table>
          <tbody>
            <tr>
              <td>Keine Stellenausschreibungen vorhanden.</td>
            </tr>
          </tbody>
        </table>
      </ng-container>
      <skb-pagination
        [indexName]="'stellenausschreibung'"
      >
      </skb-pagination>
    </section>
</div>
