<ng-container *ngIf="textures$ | async as textures">
  <ngt-group *ngIf="check(textures)">
    <ngt-mesh
      [name]="'counterBody'"
      [geometry]="model['CounterBody003'].geometry"
      [position]="model['CounterBody003'].position"
      [rotation]="[-(1.0 | pi), 0.66, 0]"
      [scale]="[3.15, 3.15, 2.33]"
      castShadow
      [receiveShadow]="true"
    >
      <ngt-mesh-basic-material
         [side]="2" color='white'
      ></ngt-mesh-basic-material>
    </ngt-mesh>
    <ngt-mesh
      [name]="'counterTop'"
      [geometry]="model['CounterTop003'].geometry"
      [position]="model['CounterTop003'].position"
      [rotation]="[-(1.0 | pi), 0.66, 0]"
      [scale]="[3.15, 0.14, 2.33]"
    >
      <ngt-mesh-standard-material
         [side]="2" color='dimgrey' metalness="1" roughness="1"
      >
      </ngt-mesh-standard-material>
    </ngt-mesh>
    <ngt-mesh
      [name]="'Stütze 1'"
      [geometry]="model['H1003'].geometry"
      [position]="model['H1003'].position"
      [rotation]="[0, -0.66, 0]"
      [scale]="-0.34"
    >
      <ngt-mesh-standard-material

          [side]="2"
          [color]="colors.support"

      >
      </ngt-mesh-standard-material>
    </ngt-mesh>
    <ngt-mesh
      [name]="'Stütze 2'"
      [geometry]="model['H2003'].geometry"
      [position]="model['H2003'].position"
      [rotation]="[0, -0.66, 0]"
      [scale]="-0.34"
    >
      <ngt-mesh-standard-material

          [side]="2"
          [color]="colors.support"

      >
      </ngt-mesh-standard-material>
    </ngt-mesh>
    <ngt-mesh
      [name]="'Stütze 3'"
      [geometry]="model['H3003'].geometry"
      [position]="model['H3003'].position"
      [rotation]="[-(1.0 | pi), 0.66, 0]"
      [scale]="-0.34"
    >
      <ngt-mesh-standard-material

          [side]="2"
          [color]="colors.support"

      >
      </ngt-mesh-standard-material>
    </ngt-mesh>
    <ngt-mesh
      [name]="'Stütze 4'"
      [geometry]="model['H4003'].geometry"
      [position]="model['H4003'].position"
      [rotation]="[-(1.0 | pi), 0.66, 0]"
      [scale]="-0.34"
    >
      <ngt-mesh-standard-material

          [side]="2"
          [color]="colors.support"

      >
      </ngt-mesh-standard-material>
    </ngt-mesh>
    <ngt-mesh
      [name]="'disklLogo'"
      [geometry]="model['Plane012'].geometry"
      [position]="[9.89, 3.35, 15.67]"
      [rotation]="[-0.5 | pi, 0, 0.91]"
      [scale]="[2.5, 1, 2.5]"
      (click)="onClick()"
      ngtCursor
    >
      <ngt-mesh-standard-material

          metalness="2"
          roughness="1"
          [side]="2"
          [map]="textures[1]"
      ></ngt-mesh-standard-material>
    </ngt-mesh>
  </ngt-group>
</ng-container>
