<div class="container">

    <div class="text">
        <h3 class="agileits-title w3title1">IMPRESSUM</h3>
    </div>


    <br />
    <div class="entry-content">
        <h3>Angaben gemäß § 5 TM</h3>
        <br />
        <p class="text">
            SKB Hochschule Landshut e.V.<br>
            Am Lurzenhof 1<br>
            84036 Landshut
        </p>
        <br />
        <p class="text">
            Vereinsregister: VR 200679<br>
            Registergericht: Amtsgericht Landshut
        </p>
        <br />
        <p class="text">
            <strong>Vertreten durch den Vorstand:</strong><br>
            Prof. Dr. Fritz Pörnbacher
        </p>
        <br />
        <h3>Kontakt</h3>
        <br />
        <p class="text">Jonas Hiller    Telefon: +49 (0)157 – 3908643</p>
        <p class="text">Susann Scholz    Telefon: +49 (0)871 – 506 106</p>
        <p class="text">E-Mail: skb@haw-landshut.de</p>
        <br />
        <h3>Umsatzsteuer-ID</h3>
        <br />
        <p class="text">
            Umsatzsteuer-Identifikationsnummer gemäß §27 a Umsatzsteuergesetz:<br>
            DE815535927
        </p>
        <br />
        <p class="text">Wir sind nicht bereit oder verpflichtet, an Streitbeilegungsverfahren vor einer Verbraucherschlichtungsstelle teilzunehmen.</p>
        <br />
        <h4>Haftung für Inhalte</h4>
        <br />
        <p class="text pb-2">Als Diensteanbieter sind wir gemäß § 7 Abs.1 TMG für eigene Inhalte auf diesen Seiten nach den allgemeinen Gesetzen verantwortlich. Nach §§ 8 bis 10 TMG sind wir als Diensteanbieter jedoch nicht verpflichtet, übermittelte oder gespeicherte fremde Informationen zu überwachen oder nach Umständen zu forschen, die auf eine rechtswidrige Tätigkeit hinweisen.</p>

        <p class="text">Verpflichtungen zur Entfernung oder Sperrung der Nutzung von Informationen nach den allgemeinen Gesetzen bleiben hiervon unberührt. Eine diesbezügliche Haftung ist jedoch erst ab dem Zeitpunkt der Kenntnis einer konkreten Rechtsverletzung möglich. Bei Bekanntwerden von entsprechenden Rechtsverletzungen werden wir diese Inhalte umgehend entfernen.</p>
        <br />
        <h4>Haftung für Links</h4>
        <br />
        <p class="text pb-2">Unser Angebot enthält Links zu externen Websites Dritter, auf deren Inhalte wir keinen Einfluss haben. Deshalb können wir für diese fremden Inhalte auch keine Gewähr übernehmen. Für die Inhalte der verlinkten Seiten ist stets der jeweilige Anbieter oder Betreiber der Seiten verantwortlich. Die verlinkten Seiten wurden zum Zeitpunkt der Verlinkung auf mögliche Rechtsverstöße überprüft. Rechtswidrige Inhalte waren zum Zeitpunkt der Verlinkung nicht erkennbar.</p>
        <p class="text">Eine permanente inhaltliche Kontrolle der verlinkten Seiten ist jedoch ohne konkrete Anhaltspunkte einer Rechtsverletzung nicht zumutbar. Bei Bekanntwerden von Rechtsverletzungen werden wir derartige Links umgehend entfernen.Eine permanente inhaltliche Kontrolle der verlinkten Seiten ist jedoch ohne konkrete Anhaltspunkte einer Rechtsverletzung nicht zumutbar. Bei Bekanntwerden von Rechtsverletzungen werden wir derartige Links umgehend entfernen.</p>
        <br />
        <h4>Urheberrecht</h4>
        <br />
        <p class="text pb-2">Die durch die Seitenbetreiber erstellten Inhalte und Werke auf diesen Seiten unterliegen dem deutschen Urheberrecht. Die Vervielfältigung, Bearbeitung, Verbreitung und jede Art der Verwertung außerhalb der Grenzen des Urheberrechtes bedürfen der schriftlichen Zustimmung des jeweiligen Autors bzw. Erstellers. Downloads und Kopien dieser Seite sind nur für den privaten, nicht kommerziellen Gebrauch gestattet.</p>
        <p class="text pb-2">Soweit die Inhalte auf dieser Seite nicht vom Betreiber erstellt wurden, werden die Urheberrechte Dritter beachtet. Insbesondere werden Inhalte Dritter als solche gekennzeichnet. Sollten Sie trotzdem auf eine Urheberrechtsverletzung aufmerksam werden, bitten wir um einen entsprechenden Hinweis. Bei Bekanntwerden von Rechtsverletzungen werden wir derartige Inhalte umgehend entfernen.</p>
        <p class="text pb-2">Diese Webseite verwendet die folgenden Open-Source Komponenten:</p>
        <p class="text pb-2">     - Angular; Copyright Google LLC; MIT-Lizenz</p>
        <p class="text pb-2">     - Three.js, Copyright three.js autoren; MIT Lizenz</p>
        <p class="text pb-2">     - AngularThree; Copyright Chau Tran; MIT-Lizenz.</p>
        <p class="text pb-2">     - Meilisearch, Copyright Meili SAS; MIT-Lizenz.</p>
        <br />
        <h4>UDESIGN & TECHNISCHE UMSETZUNG DER WEBSITE</h4>
        <br />
        <p class="text">
            Prof. Dr. Abdelmajid Khelil<br />
            RAUM: J2 12<br />
            TEL: +49 (0)871 - 506 694<br />
            E-MAIL: Abdelmajid.Khelil(at)haw-landshut.de
        </p>
        <br />
        <h4>DESIGN UND UMSETZUNG DER MARKETINGSTRATEGIE</h4>
        <br />
        <p class="text">SKB Hochschule Landshut e.V.</p>
        <br />
        <h4>DANKSAGUNG</h4>
        <br />
        <p class="text pb-2">Abschließend möchten wir uns bei allen bedanken, die die Planung, die technische Umsetzung und Durchführung der diesjährigen SKB ermöglicht haben.</p>
        <p class="text pb-2">Unser besonderer Dank gilt:</p>
        <p class="text pb-2">
            -	dem Vorstand des SKB Hochschule Landshut e.V., (Prof. Dr. Pörnbacher, Prof. Dr Jautze, Prof. Dr. Speidel)<br />
            -	der Bereichsleitung Jonas Hiller, Lisa Emslander, Markus Puhl, Emily Winter und Antonia Götz, Jacqueline Eckmann und Marie Kellner sowie dem gesamten studentischen Organisationsteam<br />
            -	und dem IT-Team unter der Leitung von Prof. Dr. Abdelmajid Khelil und Abdullah Ahmed.
        </p>

        <!--<p class="text pb-2">Quelle: <a href="https://www.e-recht24.de/impressum-generator.html">https://www.e-recht24.de/impressum-generator.html</a></p>-->

        <br /> <br />
    </div><!-- .entry-content -->
</div><!-- #primary -->
