<div class="container">
    <div class="w3ls-title">
        <h3 class="agileits-title w3title1" style="font-size: large; margin-top:2rem;">FAQs f&uuml;r Besuchende</h3>
    </div>

    <div class="card mb-3" style="cursor: default;">
        <div class="row g-0">
            <div class="col-lg-4 col-md-4 p-2 text-center">
                <img src="../../assets/support_pictures/Regen_stehen.PNG" alt="..." class="card-img-top story_image img-responsive">
            </div>
            <div class="col-lg-8 col-md-8">
                <div class="card-body" style="background: #fff;" >
                    <p class=" pb-2 card-text" style="color: grey;">Wir lassen dich nicht im Regen stehen. <br /> Hier findest du Antworten zu den wichtigsten Fragen rund die 26. Studentischen Karriereb&ouml;rse 2022.</p>

                </div>
            </div>
        </div>
    </div>

    <mat-accordion>
        <!-- 1. Frage -->
        <mat-expansion-panel>
            <mat-expansion-panel-header >
                <mat-panel-title h2> Wann findet die Messe statt? </mat-panel-title>
            </mat-expansion-panel-header>
            <div>
                <p color="primary">
                    Die Messe findet am 18. & 19.05. von 09:30 Uhr bis 16:00 Uhr in der Sparkassen-Arena statt.
                </p>
            </div>
        </mat-expansion-panel>

        <!-- 2. Frage -->
        <mat-expansion-panel>
            <mat-expansion-panel-header >
                <mat-panel-title h2> Wie kann ich an der Messe teilnehmen? </mat-panel-title>
            </mat-expansion-panel-header>
            <div>
                <p color="primary">
                    Komm einfach vorbei. Der Eintritt ist frei. Die Sparkassen-Arena findest du in der Niedermayerstraße 100 in 84036 Landshut.
                </p>
            </div>
        </mat-expansion-panel>

        <!-- 3. Frage -->
      <!--  <mat-expansion-panel>
            <mat-expansion-panel-header >
                <mat-panel-title h2> Kann ich mit den Ausstellenden in Kontakt treten? </mat-panel-title>
            </mat-expansion-panel-header>
            <div>
                <p color="primary">
                    Ja. An den Messest&auml;nden findest du verschiedene M&ouml;glichkeiten mit den Ausstellenden in Kontakt zu treten. Du kannst selbst entscheiden ob per Text-Chat oder im Rahmen einer Videokonferenz mit den Ausstellenden ins Gespr&auml;ch kommen m&ouml;chtest.
                </p>
            </div>
        </mat-expansion-panel>-->

        <!-- 4. Frage -->
        <mat-expansion-panel>
            <mat-expansion-panel-header >
                <mat-panel-title h2> Wer sind die Veranstalter der Messe? </mat-panel-title>
            </mat-expansion-panel-header>
            <div>
                <p color="primary">
                    Veranstalter der Messe ist der Verein SKB Hochschule Landshut e.V.
                </p>
            </div>
        </mat-expansion-panel>

        <!-- 5. Frage -->
      <!--  <mat-expansion-panel>
            <mat-expansion-panel-header>
                <mat-panel-title h2> Gibt es einen Zeitplan, in dem man mit den Unternehmen Kontakt aufnehmen kann? (Z.B. in einem pers&ouml;nlichen Gespr&auml;ch) </mat-panel-title>
            </mat-expansion-panel-header>
            <div>
                <p color="primary">
                    Nein, es gibt keinen Zeitplan f&uuml;r pers&ouml;nliche Gespr&auml;che. Die Ausstellenden stehen w&auml;hrend der Gesch&auml;ftszeiten von 10.00 – 16.00 Uhr f&uuml;r Fragen zur Verf&uuml;gung. Bitte beachtet, dass die Messest&auml;nde aller Ausstellenden zwar an beiden Tagen online zug&auml;nglich sind, die Zoom/MS Teams-Sitzungen f&uuml;r die Live-Beratung aber nicht. Bitte informiert euch daher rechtzeitig, an welchem Tag die Firmen und Einrichtungen, die ihr pers&ouml;nlich kontaktieren m&ouml;chtet, mit ihrer LIVE-Beratung am Stand vertreten sind. Welche Firma/Einrichtung wann LIVE auf der Messe ist sehr ihr auf der Webseite (Reiter Messehalle / Unterseite „Ausstellende 18. Mai 2022“ bzw. „Ausstellende 19. Mai 2022“)
                </p>
            </div>
        </mat-expansion-panel>-->

        <!-- 6. Frage -->
        <mat-expansion-panel>
            <mat-expansion-panel-header >
                <mat-panel-title h2> Ist die SKB auch f&uuml;r Studierende anderer Universit&auml;ten/Hochschulen zug&auml;nglich? </mat-panel-title>
            </mat-expansion-panel-header>
            <div>
                <p color="primary">
                    Nat&uuml;rlich, wir freuen uns &uuml;ber jede*n, der die SKB besucht.
                </p>
            </div>
        </mat-expansion-panel>

        <!-- 7. Frage -->
        <mat-expansion-panel>
            <mat-expansion-panel-header >
                <mat-panel-title h2> Ist die Messe kostenpflichtig? </mat-panel-title>
            </mat-expansion-panel-header>
            <div>
                <p color="primary">
                    Nein, f&uuml;r Besuchende ist die Messe komplett kostenlos.
                </p>
            </div>
        </mat-expansion-panel>

        <!-- 8. Frage -->
        <mat-expansion-panel>
            <mat-expansion-panel-header >
                <mat-panel-title h2> Ist die SKB in Social Media vertreten?</mat-panel-title>
            </mat-expansion-panel-header>
            <div>
                <p color="primary">
                    Ja, du findest uns auf allen g&auml;ngigen Kan&auml;len. Schau gern auf unsere Webseite skb.la bzw. nutze die QR-Codes auf unseren Flyern.
                </p>
            </div>
        </mat-expansion-panel>

        <!-- 9. Frage -->
        <mat-expansion-panel>
            <mat-expansion-panel-header >
                <mat-panel-title h2> Gibt es an allen Messetagen das gleiche Angebot??</mat-panel-title>
            </mat-expansion-panel-header>
            <div>
                <p color="primary">
                    Nein. Nicht jede Firma ist an jedem Tag vertreten, soziale Einrichtungen nur am 18. Mai 2022. Zudem variiert das Programm der Fachvorträge. Details kannst du in unserem Messeguide nachlesen, den wir in der Warm-up-Week am Campus verteilen.
                </p>
            </div>
        </mat-expansion-panel>

        <!-- 10. Frage -->
        <mat-expansion-panel>
            <mat-expansion-panel-header >
                <mat-panel-title h2> Welche Unternehmen finde ich auf der Messe?</mat-panel-title>
            </mat-expansion-panel-header>
            <div>
                <p color="primary">
                    Eine &uuml;bersicht der teilnehmenden Unternehmen findest du auf der  <a routerLink="/Messehalle" target="_blank">Seite der Messe</a> oder in <a routerLink="/Messebuch" target="_blank">unserem Messebuch</a>
                </p>
            </div>
        </mat-expansion-panel>

        <!-- 11. Frage -->
        <mat-expansion-panel>
            <mat-expansion-panel-header >
                <mat-panel-title h2> Was f&uuml;r Bereiche/Branchen sind auf der Messe vertreten?</mat-panel-title>
            </mat-expansion-panel-header>
            <div>
                <p color="primary">
                    Auf der Messe vertreten sind Arbeitsgeber aus den verschiedensten Bereichen, passend zu den Studieng&auml;ngen der Hochschule Landshut.
                </p>
            </div>
        </mat-expansion-panel>

        <!-- 12. Frage -->
        <mat-expansion-panel>
            <mat-expansion-panel-header >
                <mat-panel-title h2> Gibt es ein Messebuch?</mat-panel-title>
            </mat-expansion-panel-header>
            <div>
                <p color="primary">
                    Ja, das Messebuch der SKB 2022 findest du hier auf der Webseite unter dem Reiter Messehalle bzw. auf unserer Vereinsseite skb.la.
                </p>
            </div>
        </mat-expansion-panel>

        <!-- 13. Frage -->
        <mat-expansion-panel>
            <mat-expansion-panel-header >
                <mat-panel-title h2> F&uuml;r welche Zielgruppe ist die Messe?</mat-panel-title>
            </mat-expansion-panel-header>
            <div>
                <p color="primary">
                    Die Messe ist perfekt f&uuml;r alle, die auf der Suche nach einem potentiellen Arbeitgeber sind, eine Praktikumsstelle suchen oder einen Kooperationspartner f&uuml;r ihre Bachelor- oder Masterarbeit. Dar&uuml;ber hinaus kannst du dich auf der Messe auch einfach &uuml;ber zuk&uuml;nftige Arbeitgeber informieren.
                </p>
            </div>
        </mat-expansion-panel>

        <!-- 14. Frage -->
         <mat-expansion-panel>
            <mat-expansion-panel-header >
                <mat-panel-title h2> Was habe ich davon, die SKB zu besuchen?</mat-panel-title>
            </mat-expansion-panel-header>
            <div>
                <p color="primary">
                    Die Studentische Karrierebörse ist eine Jobmesse, die dir eine tolle Möglichkeit bietet, Kontakte zu Unternehmen und Sozialen Einrichtungen zu knüpfen. Das Beste an dieser Veranstaltung ist, dass du Informationen über die Firmen und Einrichtungen sammelst und diese besser kennen lernt. Gleichzeitig kannst du einen ersten guten Eindruck bei den Firmenvertretungen hinterlassen, was bei einer bevorstehenden Praktikums- oder Jobsuche sicher von Vorteil ist.
                </p>
            </div>
        </mat-expansion-panel>

         <!-- 15. Frage -->
        <!-- <mat-expansion-panel>
            <mat-expansion-panel-header >
                <mat-panel-title h2> Gibt es einen Ansprechpartner bei technischen Problemen während der Messe?</mat-panel-title>
            </mat-expansion-panel-header>
            <div>
                <p color="primary">
                    Ja der technische Support ist an beiden Messetagen von 10.00 - 16.00 Uhr für dich da. Wie du ihn erreichen kannst findest du hier.
                </p>
            </div>
        </mat-expansion-panel>-->

        <!-- 16. Frage -->
        <mat-expansion-panel>
            <mat-expansion-panel-header >
                <mat-panel-title h2>Muss ich mich anmelden, um an der SKB teilzunehmen?</mat-panel-title>
            </mat-expansion-panel-header>
            <div>
                <p color="primary">
                    Nein, eine Anmeldung ist nicht notwendig, um an der SKB teilzunehmen.
                </p>
            </div>
        </mat-expansion-panel>

        <!-- 17. Frage -->
       <!-- <mat-expansion-panel>
            <mat-expansion-panel-header >
                <mat-panel-title h2>Welche technischen Voraussetzungen gibt es um an der Messe teilzunehmen?</mat-panel-title>
            </mat-expansion-panel-header>
            <div>
                <p color="primary">
                    Die Messewebsite wird mit der aktuellste Browserversion einer der folgenden Browser (Microsoft Edge, Mozilla Firefox, Google Chrome, Safari) am besten dargestellt. Um dich mit den Unternehmen oder Sozialen Einrichtungen in einer Videokonferenz bestm&ouml;glich austauschen zu k&ouml;nnen, empfehlen wir die Benutzung einer Kamera (Webcam oder Laptopkamera) und eines Mikrofons (wir empfehlen die Verwendung eines Headsets).
                </p>
            </div>
        </mat-expansion-panel>-->

        <!-- 18. Frage -->
       <!-- <mat-expansion-panel>
            <mat-expansion-panel-header >
                <mat-panel-title h2>Was brauche ich um an der Messe teilnehmen zu k&ouml;nnen?</mat-panel-title>
            </mat-expansion-panel-header>
            <div>
                <p color="primary">
                    Um deinen Messebesuch optimal zu gestalten, brauchst du eine stabile Internetverbindung, einen Computer oder ein mobiles Endger&auml;t (wir empfehlen die Messe von einem Laptop oder Computer aus zu besuchen) und eine Kamera und ein Mikrofon um mit den Ausstellern in Videokonferenzen in Verbindung zu treten.
                </p>
            </div>
        </mat-expansion-panel>-->

        <!-- 19. Frage -->
        <mat-expansion-panel>
            <mat-expansion-panel-header >
                <mat-panel-title h2>Wie kann ich mich optimal auf meinen Messebesuch vorbereiten?</mat-panel-title>
            </mat-expansion-panel-header>
            <div>
                <p color="primary">
                    Nimm dir vor der Messe etwas Zeit und &uuml;berlege dir, welche Fragen du einem potentiellen Arbeitgeber stellen m&ouml;chtest und auch welche Fragen dir gestellt werden k&ouml;nnten.
                </p>
            </div>
        </mat-expansion-panel>

        <!-- 20. Frage -->
       <!-- <mat-expansion-panel>
            <mat-expansion-panel-header >
                <mat-panel-title h2>Wie funktioniert das Gewinnspiel?</mat-panel-title>
            </mat-expansion-panel-header>
            <div>
                <p color="primary">
                    Um am Gewinnspiel teilzunehmen, musst du f&uuml;nf Codes sammeln. Diese Codes erh&auml;ltst du, wenn du pers&ouml;nliche Gespr&auml;che &uuml;ber Videokonferenzen mit den Firmen und Sozialen Einrichtungen f&uuml;hrst, an Fachvortr&auml;gen sowie an der Befragung f&uuml;r Besuchende teilnimmst. Zwei Codes m&uuml;ssen aus Gespr&auml;chen kommen, einer aus einem Fachvortrag und einen erh&auml;ltst du am Ende der Befragung. Den f&uuml;nften Code erh&auml;ltst du entweder du ein weiteres Gespr&auml;ch oder &uuml;ber einen weiteren Fachvortrag.
                </p>
            </div>
        </mat-expansion-panel>-->

        <!-- 21. Frage -->
        <mat-expansion-panel>
            <mat-expansion-panel-header >
                <mat-panel-title h2>Gibt es zus&auml;tzliche Infost&auml;nde auf der Messe?</mat-panel-title>
            </mat-expansion-panel-header>
            <div>
                <p color="primary">
                    Ja, auf der Messe wird es zwei Info-Stände der SKB geben. Zusätzlich sind weitere Hochschuleinrichtungen, zwei Krankenkassen sowie Hochschulvereine vertreten.
                </p>
            </div>
        </mat-expansion-panel>

        <!-- 22. Frage -->
        <mat-expansion-panel>
            <mat-expansion-panel-header >
                <mat-panel-title h2>Gibt es einen Dresscode?</mat-panel-title>
            </mat-expansion-panel-header>
            <div>
                <p color="primary">
                    Wir empfehlen dir, dich so zu kleiden, als würdest du zu einem Bewerbungsgespräch gehen. Immerhin möchtest du bei deinem potentiellen Arbeitgebenden einen guten Eindruck hinterlassen.
                </p>
            </div>
        </mat-expansion-panel>
    </mat-accordion>


    <br />
    <div class="card mb-3" style="cursor: default;">
        <div class="row g-0">
            <div class="col-md-10">
                <div class="card-body" style="background: #fff;">
                    <p class=" card-text" style="color: grey;">
                        <b style="color: grey;">Die richtige Antwort ist nicht dabei?</b>
                        <br />
                        Bei Fragen rund um die Messe stehen wir Ihnen gern telefonisch unter 0871 506 106 bzw. per E-Mail <a style="color: #007bff;" href="mailto:skb@haw-landshut.de">skb@haw-landshut.de</a> zur Verfügung.
                        <br/>

                    </p>

                </div>
            </div>
        </div>
    </div>
</div>
