<ng-container *ngIf="textures$|async as textures">
  <ngt-group *ngIf="check(textures)">
    <ngt-mesh
    castShadow
    [receiveShadow]="true"
    [geometry]="model['CounterBody003'].geometry"
    [position]="[3.83, 1.55, 10.51]"
    [rotation]="[-1 | pi, 0.84, 0]"
    [scale]="[1.49, 1.49, 1.1]"
    >

    <ngt-mesh-basic-material
      [side]="2"  color='white'
    ></ngt-mesh-basic-material
  ></ngt-mesh>
  <ngt-mesh
    castShadow
    [receiveShadow]="true"
    [geometry]="model['CounterTop003'].geometry"
    [position]="[3.83, 3.34, 10.51]"
    [rotation]="[-1 | pi, 0.84, 0]"
    [scale]="[1.49, 0.07, 1.1]"
    ><ngt-mesh-physical-material
       metalness="1.1" roughness="0.5" [side]="2"  [map]="textures[0]"
    ></ngt-mesh-physical-material
  ></ngt-mesh>
  <ngt-mesh
    [castShadow]="true"
    [receiveShadow]="true"
    [geometry]="model['H1003'].geometry"
    [position]="[5.42,  3.14, 8.15]"
    [rotation]="[0, -0.84, 0]"
    [scale]="-0.16">
    <ngt-mesh-standard-material
    metalness="1" [side]="2"  [color]="colors.support">
  </ngt-mesh-standard-material>
  </ngt-mesh>
  <ngt-mesh
    castShadow
    [receiveShadow]="true"
    [geometry]="model['H2003'].geometry"
    [position]="[6.1, 3.14, 9.52]"
    [rotation]="[0, -0.84, 0]"
    [scale]="-0.16"
    ><ngt-mesh-standard-material
       metalness="1" [side]="2"  [color]="colors.support"
    ></ngt-mesh-standard-material
  ></ngt-mesh>
  <ngt-mesh
    castShadow
    [receiveShadow]="true"
    [geometry]="model['H3003'].geometry"
    [position]="[1.78, 3.14, 11.41]"
    [rotation]="[-1 | pi, 0.84, 0]"
    [scale]="-0.16"
    ><ngt-mesh-standard-material
       metalness="1" [side]="2"  [color]="colors.support"
    ></ngt-mesh-standard-material
  ></ngt-mesh>
  <ngt-mesh
    castShadow
    [receiveShadow]="true"
    [geometry]="model['H4003'].geometry"
    [position]="[2.79, 3.14, 12.27]"
    [rotation]="[-1 | pi, 0.84, 0]"
    [scale]="-0.16"
    ><ngt-mesh-standard-material
       metalness="1" [side]="2"  [color]="colors.support"
    ></ngt-mesh-standard-material
  ></ngt-mesh>
  <ngt-mesh
    ngtCursor
    [name]="'Desk logo'"
    castShadow
    [receiveShadow]="true"
    [geometry]="model['csm_Hochschule-Landshut_Campus_6_2a857da975003'].geometry"
    [position]="[5.11, 1.7, 11.4]"
    [rotation]="[(-1 | pi) / 2,  0, 0.75]"
    [scale]="[3, 0.15, 2.5]"
    (click)="onClick()"
    ><ngt-mesh-standard-material
    metalness="4"
    roughness="0.5" [side]="2"  [map]="textures[1]" [envMap]="textures[1]"
    ></ngt-mesh-standard-material
  ></ngt-mesh>

  </ngt-group>
</ng-container>
