.text {
  width: 50vw;
  padding: auto;
  padding-left: 1.1rem;
  font-size: large;
  white-space: pre-wrap;
  & * {
    white-space: pre-wrap;
  }
}
@media only screen and (max-width: 1200px) {
  .text {
    width: 80vw;
    & * {
      width: 100%;
    }
  }
}
@media only screen and (max-width: 750px) {
  .text {
    width: 85vw;
    & * {
      width: 100%;
    }
  }
}
@media only screen and (max-width: 670px) {
  .text {
    width: 96vw;
    & * {
      width: 100%;
    }
  }
}
