<div class="row" *ngIf="aussteller as a">
  <div class="col-12">
    <div class="w3ls-title">
      <h1 style="text-decoration: underline; text-align: center">
        {{ a.firma }}
      </h1>
    </div>

    <div
      class="text"
      [innerHTML]="text"
      style="margin-bottom: 0.5rem"
    ></div>
  </div>
  <div class="col-lg-1 col-md-1 col-sm-0"></div>
</div>
