table {
  width: 50vw;
  max-width: 50vw;
  // height: 50vh;
  & .btn {
    width: 100%;
  }
  & * {
    text-align: left;
    font-size: 1.1rem;
  }
}
svg{
  margin: 0.5rem;
}
.social-icons {
  text-decoration: none;
  font-size: 1.3vw;
  color: dimgray;
}
.bi {
  &-facebook {
    &:hover {
      color: dodgerblue;
    }
    &::before {
      font-size: larger !important;
    }
  }

  &-instagram {
    &:hover {
      color: tomato;
    }
    &::before {
      font-size: larger !important;
    }
  }
  &-linkedin {
    &:hover {
      color: blue;
    }
    &::before {
      font-size: larger !important;
    }
  }
  &-x-circle {
    &:hover {
      color: green;
    }
    &::before {
      font-size: larger !important;
    }
  }
}
.xing{
  position: relative;
    &:hover {
      background-color: rgb(255, 255, 255);
      border-radius: 1.2rem;
    }
    &::before {
      font-size: larger !important;
    }
  }
// .box {
//   display: block;
//   // width: 15vw !important;
//   // min-width: 1vw !important;
//   // height: 30vh;
//   & img {
//     width: 100%;
//     height: inherit;
//   }
// }
// @media screen and (max-width:1500px) {
// .box {
//     width: 30vw !important;
//     height: 60vh;
//     display: block;
//     & img {
//       width: 100% !important;
//       height: inherit;
//     }
//   }
// }
// @media screen and (max-width:1050px) {
// .box {
//     width: 50vw !important;
//     height: 60vh;
//     display: block;
//     & img {
//       width: 100% !important;
//       height: inherit;
//     }
//   }
// }
@media screen and (max-width: 385px) {
  .box {
    width: 100% !important;
    // height: 40vh;
    display: block;
    & img {
      width: 100% !important;
      height: inherit;
    }
  }
}
@media only screen and (max-width: 1200px) {
  table {
    width: 80vw;
    max-width: 80vw;
    & * {
      width: 100%;
    }
  }
}
@media only screen and (max-width: 750px) {
  table {
    width: 85vw;
    max-width: 85vw;
    & * {
      width: 100%;
    }
  }
}
@media only screen and (max-width: 670px) {
  table {
    width: 96vw;
    max-width: 96vw;
    & * {
      width: 100%;
    }
  }
}
// address{
//   & *{
//     font-size: large;
//   }
//   font-size: large;
// }
.btn {
  text-align: center !important;
  &-dark {
    &:hover {
      color: white;
      background-color: #0d6efd;
    }
  }
}
