<div *ngIf="aussteller as a">
  <div class="row">
    <div class="col-12">
      <div class="table-responsive-sm">
        <table class="table table-hover" id="Ausstellertabelle">
          <tbody>
            <tr *ngIf="a.homepage">
              <td class="tb1Label" colspan="2">
                <h5><label>Webseite:</label></h5>
              </td>
              <td class="tb1Value" colspan="2">
                <a
                  style="font-weight: normal; text-decoration: underline"
                  href="{{ a.homepage }}"
                  target="_blank"
                  rel="noopener noreferrer"
                  >{{ a.firma }}</a
                >
              </td>
            </tr>
            <tr *ngIf="a.telefon">
              <td class="tb1Label" colspan="2">
                <h5><label>Telefon:</label></h5>
              </td>
              <td class="tb1Value" colspan="2">{{ a.telefon }}</td>
            </tr>
            <tr>
              <td class="tb1Label" colspan="2">
                <label><h5>Adresse:</h5></label>
              </td>
              <td class="tb1Value" colspan="2">
                <address>
                  {{ a.strasse }}{{ " " + a.adresszusatz }}&nbsp;{{ a.plz }}
                  {{ a.ort }} &nbsp;{{ a.land }}
                </address>
              </td>
            </tr>
            <ng-container *ngIf="a.ansprechpartner as ansp">
              <ng-container *ngIf="ansp.name.length">
                <tr>
                  <td class="tb1Label" colspan="4">
                    <span> ANSPRECHPARTNER*INNEN </span>
                  </td>
                </tr>
                <ng-container *ngIf="ansp.bild">
                  <tr>
                    <td
                      class="tblLabel"
                      rowspan="1"
                      colspan="4"
                      *ngIf="ansp.bild"
                    >
                      <div
                        style="
                          width: inherit;
                          max-width: inherit;
                          max-height: 30vh;
                        "
                        class="box"
                      >
                        <img
                          [src]="ansp.bild.url"
                          style="
                            object-fit: contain;
                            max-width: inherit !important;
                            max-height: inherit !important;
                          "
                        />
                      </div>
                    </td>
                  </tr>
                </ng-container>
                <tr>
                  <td class="tb1Label" colspan="2">
                    <label><h5>Name:</h5></label>
                  </td>
                  <td class="tb1Value" colspan="2">
                    {{ ansp.anrede }} {{ ansp.vorname }} {{ ansp.name }}
                  </td>
                </tr>
                <tr *ngIf="ansp.telefon">
                  <td class="tb1Label" colspan="2">
                    <label><h5>Telefon:</h5></label>
                  </td>
                  <td class="tb1Value" colspan="2">{{ ansp.telefon }}</td>
                </tr>
                <tr>
                  <td class="tb1Label" colspan="2">
                    <label><h5>E-mail:</h5></label>
                  </td>
                  <td class="tb1Value" colspan="2">
                    <a href="mailto:{{ ansp.email }}">{{ ansp.email }}</a>
                  </td>
                </tr>
              </ng-container>
            </ng-container>

            <ng-container *ngIf="hasSocialmedia">
              <tr>
                <td class="tb1Label" colspan="2">
                  <h5>Social-Media</h5>
                </td>
                <td class="tb1Value" colspan="2">
                  <ng-container
                    *ngFor="
                      let socialmedia of onlinemedien!.socialmedia | keyvalue
                    "
                    [ngSwitch]="socialmedia.key"
                  >
                    <ng-container
                      *ngIf="socialmedia.value | prefix : 'https://' as url"
                    >
                      <a
                        class="social-icons"
                        *ngSwitchCase="'facebook'"
                        href="{{ url }}"
                        target="_blank"
                        ><svg
                          xmlns="http://www.w3.org/2000/svg"
                          width="25"
                          height="25"
                          fill="currentColor"
                          class="bi bi-facebook"
                          viewBox="0 0 16 16"
                        >
                          <path
                            d="M16 8.049c0-4.446-3.582-8.05-8-8.05C3.58 0-.002 3.603-.002 8.05c0 4.017 2.926 7.347 6.75 7.951v-5.625h-2.03V8.05H6.75V6.275c0-2.017 1.195-3.131 3.022-3.131.876 0 1.791.157 1.791.157v1.98h-1.009c-.993 0-1.303.621-1.303 1.258v1.51h2.218l-.354 2.326H9.25V16c3.824-.604 6.75-3.934 6.75-7.951z"
                          /></svg
                      ></a>
                      <a
                        class="social-icons"
                        *ngSwitchCase="'instagram'"
                        href="{{ url }}"
                        target="_blank"
                        ><svg
                          xmlns="http://www.w3.org/2000/svg"
                          width="25"
                          height="25"
                          fill="currentColor"
                          class="bi bi-instagram"
                          viewBox="0 0 16 16"
                        >
                          <path
                            d="M8 0C5.829 0 5.556.01 4.703.048 3.85.088 3.269.222 2.76.42a3.917 3.917 0 0 0-1.417.923A3.927 3.927 0 0 0 .42 2.76C.222 3.268.087 3.85.048 4.7.01 5.555 0 5.827 0 8.001c0 2.172.01 2.444.048 3.297.04.852.174 1.433.372 1.942.205.526.478.972.923 1.417.444.445.89.719 1.416.923.51.198 1.09.333 1.942.372C5.555 15.99 5.827 16 8 16s2.444-.01 3.298-.048c.851-.04 1.434-.174 1.943-.372a3.916 3.916 0 0 0 1.416-.923c.445-.445.718-.891.923-1.417.197-.509.332-1.09.372-1.942C15.99 10.445 16 10.173 16 8s-.01-2.445-.048-3.299c-.04-.851-.175-1.433-.372-1.941a3.926 3.926 0 0 0-.923-1.417A3.911 3.911 0 0 0 13.24.42c-.51-.198-1.092-.333-1.943-.372C10.443.01 10.172 0 7.998 0h.003zm-.717 1.442h.718c2.136 0 2.389.007 3.232.046.78.035 1.204.166 1.486.275.373.145.64.319.92.599.28.28.453.546.598.92.11.281.24.705.275 1.485.039.843.047 1.096.047 3.231s-.008 2.389-.047 3.232c-.035.78-.166 1.203-.275 1.485a2.47 2.47 0 0 1-.599.919c-.28.28-.546.453-.92.598-.28.11-.704.24-1.485.276-.843.038-1.096.047-3.232.047s-2.39-.009-3.233-.047c-.78-.036-1.203-.166-1.485-.276a2.478 2.478 0 0 1-.92-.598 2.48 2.48 0 0 1-.6-.92c-.109-.281-.24-.705-.275-1.485-.038-.843-.046-1.096-.046-3.233 0-2.136.008-2.388.046-3.231.036-.78.166-1.204.276-1.486.145-.373.319-.64.599-.92.28-.28.546-.453.92-.598.282-.11.705-.24 1.485-.276.738-.034 1.024-.044 2.515-.045v.002zm4.988 1.328a.96.96 0 1 0 0 1.92.96.96 0 0 0 0-1.92zm-4.27 1.122a4.109 4.109 0 1 0 0 8.217 4.109 4.109 0 0 0 0-8.217zm0 1.441a2.667 2.667 0 1 1 0 5.334 2.667 2.667 0 0 1 0-5.334z"
                          />
                        </svg>
                      </a>
                      <a
                        *ngSwitchCase="'linkedin'"
                        href="{{ url }}"
                        target="_blank"
                        class="social-icons"
                        ><svg
                          xmlns="http://www.w3.org/2000/svg"
                          width="25"
                          height="25"
                          fill="currentColor"
                          class="bi bi-linkedin"
                          viewBox="0 0 16 16"
                        >
                          <path
                            d="M0 1.146C0 .513.526 0 1.175 0h13.65C15.474 0 16 .513 16 1.146v13.708c0 .633-.526 1.146-1.175 1.146H1.175C.526 16 0 15.487 0 14.854V1.146zm4.943 12.248V6.169H2.542v7.225h2.401zm-1.2-8.212c.837 0 1.358-.554 1.358-1.248-.015-.709-.52-1.248-1.342-1.248-.822 0-1.359.54-1.359 1.248 0 .694.521 1.248 1.327 1.248h.016zm4.908 8.212V9.359c0-.216.016-.432.08-.586.173-.431.568-.878 1.232-.878.869 0 1.216.662 1.216 1.634v3.865h2.401V9.25c0-2.22-1.184-3.252-2.764-3.252-1.274 0-1.845.7-2.165 1.193v.025h-.016a5.54 5.54 0 0 1 .016-.025V6.169h-2.4c.03.678 0 7.225 0 7.225h2.4z"
                          />
                        </svg>
                      </a>
                      <a
                        *ngSwitchCase="'youtube'"
                        href="{{ url }}"
                        target="_blank"
                      >
                        <svg
                          xmlns="http://www.w3.org/2000/svg"
                          width="25"
                          height="25"
                          fill="currentColor"
                          class="social-icons"
                          viewBox="0 0 16 16"
                        >
                          <path
                            d="M8.051 1.999h.089c.822.003 4.987.033 6.11.335a2.01 2.01 0 0 1 1.415 1.42c.101.38.172.883.22 1.402l.01.104.022.26.008.104c.065.914.073 1.77.074 1.957v.075c-.001.194-.01 1.108-.082 2.06l-.008.105-.009.104c-.05.572-.124 1.14-.235 1.558a2.007 2.007 0 0 1-1.415 1.42c-1.16.312-5.569.334-6.18.335h-.142c-.309 0-1.587-.006-2.927-.052l-.17-.006-.087-.004-.171-.007-.171-.007c-1.11-.049-2.167-.128-2.654-.26a2.007 2.007 0 0 1-1.415-1.419c-.111-.417-.185-.986-.235-1.558L.09 9.82l-.008-.104A31.4 31.4 0 0 1 0 7.68v-.123c.002-.215.01-.958.064-1.778l.007-.103.003-.052.008-.104.022-.26.01-.104c.048-.519.119-1.023.22-1.402a2.007 2.007 0 0 1 1.415-1.42c.487-.13 1.544-.21 2.654-.26l.17-.007.172-.006.086-.003.171-.007A99.788 99.788 0 0 1 7.858 2h.193zM6.4 5.209v4.818l4.157-2.408L6.4 5.209z"
                          />
                        </svg>
                      </a>
                      <a
                        class="social-icons"
                        *ngSwitchCase="'twitter'"
                        href="{{ url }}"
                        target="_blank"
                      >
                        <svg
                          xmlns="http://www.w3.org/2000/svg"
                          width="25"
                          height="25"
                          fill="currentColor"
                          class="bi bi-twitter"
                          viewBox="0 0 16 16"
                        >
                          <path
                            d="M5.026 15c6.038 0 9.341-5.003 9.341-9.334 0-.14 0-.282-.006-.422A6.685 6.685 0 0 0 16 3.542a6.658 6.658 0 0 1-1.889.518 3.301 3.301 0 0 0 1.447-1.817 6.533 6.533 0 0 1-2.087.793A3.286 3.286 0 0 0 7.875 6.03a9.325 9.325 0 0 1-6.767-3.429 3.289 3.289 0 0 0 1.018 4.382A3.323 3.323 0 0 1 .64 6.575v.045a3.288 3.288 0 0 0 2.632 3.218 3.203 3.203 0 0 1-.865.115 3.23 3.23 0 0 1-.614-.057 3.283 3.283 0 0 0 3.067 2.277A6.588 6.588 0 0 1 .78 13.58a6.32 6.32 0 0 1-.78-.045A9.344 9.344 0 0 0 5.026 15z"
                          />
                        </svg>
                      </a>
                      <a
                        class="social-icons"
                        *ngSwitchCase="'xing'"
                        href="{{ url }}"
                        target="_blank"
                      >
                        <svg
                          xmlns="http://www.w3.org/2000/svg"
                          xmlns:xlink="http://www.w3.org/1999/xlink"
                          version="1.1"
                          width="26"
                          height="26"
                          viewBox="0 0 256 256"
                          xml:space="preserve"
                        >
                          <defs></defs>
                          <g
                            style="
                              stroke: none;
                              stroke-width: 0;
                              stroke-dasharray: none;
                              stroke-linecap: butt;
                              stroke-linejoin: miter;
                              stroke-miterlimit: 10;
                              fill: none;
                              fill-rule: nonzero;
                              opacity: 1;
                            "
                            transform="translate(1.4065934065934016 1.4065934065934016) scale(2.81 2.81)"
                          >
                            <path
                              d="M 13.677 17.774 c -0.782 0 -1.44 0.274 -1.77 0.811 c -0.342 0.555 -0.289 1.269 0.074 1.991 l 8.776 15.193 c 0.015 0.029 0.015 0.047 0 0.074 L 6.966 60.181 c -0.36 0.717 -0.342 1.437 0 1.991 c 0.33 0.534 0.915 0.885 1.696 0.885 h 12.98 c 1.941 0 2.876 -1.31 3.54 -2.508 c 0 0 13.488 -23.854 14.013 -24.78 c -0.053 -0.086 -8.924 -15.561 -8.924 -15.561 c -0.646 -1.151 -1.623 -2.434 -3.614 -2.434 H 13.677 z"
                              style="
                                stroke: none;
                                stroke-width: 1;
                                stroke-dasharray: none;
                                stroke-linecap: butt;
                                stroke-linejoin: miter;
                                stroke-miterlimit: 10;
                                fill: rgb(0, 90, 95);
                                fill-rule: nonzero;
                                opacity: 1;
                              "
                              transform=" matrix(1 0 0 1 0 0) "
                              stroke-linecap="round"
                            />
                            <path
                              d="M 68.208 0 c -1.938 0 -2.779 1.221 -3.475 2.472 c 0 0 -27.963 49.59 -28.884 51.219 c 0.047 0.089 18.444 33.837 18.444 33.837 C 54.936 88.678 55.93 90 57.919 90 h 12.966 c 0.782 0 1.392 -0.295 1.723 -0.829 c 0.345 -0.555 0.336 -1.286 -0.027 -2.006 L 54.281 53.732 c -0.018 -0.027 -0.018 -0.059 0 -0.085 L 83.02 2.832 c 0.36 -0.717 0.369 -1.449 0.027 -2.003 C 82.717 0.295 82.103 0 81.321 0 H 68.208 z"
                              style="
                                stroke: none;
                                stroke-width: 1;
                                stroke-dasharray: none;
                                stroke-linecap: butt;
                                stroke-linejoin: miter;
                                stroke-miterlimit: 10;
                                fill: rgb(212, 214, 0);
                                fill-rule: nonzero;
                                opacity: 1;
                              "
                              transform=" matrix(1 0 0 1 0 0) "
                              stroke-linecap="round"
                            />
                          </g>
                        </svg>
                      </a>
                    </ng-container>
                  </ng-container>
                </td>
              </tr>
            </ng-container>

            <ng-container *ngIf="onlinemedien">
              <tr
                *ngIf="onlinemedien!.unternehmensprofil as unternehmensprofil"
              >
                <td class="tb1Label" colspan="2">
                  <h5>Unternehmensprofil&nbsp;</h5>
                </td>
                <td class="tb1Value" colspan="2">
                  <a
                    class="btn btn-dark"
                    href="{{ unternehmensprofil.url }}"
                    target="_blank"
                    ><svg
                      xmlns="http://www.w3.org/2000/svg"
                      width="16"
                      height="16"
                      fill="currentColor"
                      class="bi bi-download"
                      viewBox="0 0 16 16"
                    >
                      <path
                        d="M.5 9.9a.5.5 0 0 1 .5.5v2.5a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1v-2.5a.5.5 0 0 1 1 0v2.5a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2v-2.5a.5.5 0 0 1 .5-.5z"
                      />
                      <path
                        d="M7.646 11.854a.5.5 0 0 0 .708 0l3-3a.5.5 0 0 0-.708-.708L8.5 10.293V1.5a.5.5 0 0 0-1 0v8.793L5.354 8.146a.5.5 0 1 0-.708.708l3 3z"
                      /></svg
                  ></a>
                </td>
              </tr>
              <tr *ngIf="onlinemedien!.flyer as flyer">
                <td class="tb1Label" colspan="2"><h5>Flyer&nbsp;</h5></td>
                <td class="tb1Value" colspan="2">
                  <a
                    class="btn btn-dark btn-lg"
                    href="{{ flyer.url }}"
                    target="_blank"
                    ><svg
                      xmlns="http://www.w3.org/2000/svg"
                      width="16"
                      height="16"
                      fill="currentColor"
                      viewBox="0 0 16 16"
                    >
                      <path
                        d="M.5 9.9a.5.5 0 0 1 .5.5v2.5a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1v-2.5a.5.5 0 0 1 1 0v2.5a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2v-2.5a.5.5 0 0 1 .5-.5z"
                      />
                      <path
                        d="M7.646 11.854a.5.5 0 0 0 .708 0l3-3a.5.5 0 0 0-.708-.708L8.5 10.293V1.5a.5.5 0 0 0-1 0v8.793L5.354 8.146a.5.5 0 1 0-.708.708l3 3z"
                      /></svg
                  ></a>
                </td></tr
            ></ng-container>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
