<ngt-mesh
  [name]="'Blumentopf'"
  castShadow
  [receiveShadow]="true"
  [geometry]="model['Cylinder2601'].geometry"
  ><ngt-mesh-standard-material

      [side]="2"
      [color]="colors.flowerpot"
      metalness="1"
      roughness="0.1"
  ></ngt-mesh-standard-material
></ngt-mesh>
<ngt-mesh
  [name]="'Erdboden'"
  castShadow
  [receiveShadow]="true"
  [geometry]="model['Cylinder2601_1'].geometry"
  ><ngt-mesh-basic-material

      [side]="2"
      [color]="colors.soil"
  ></ngt-mesh-basic-material
></ngt-mesh>
<ngt-mesh
  [name]="'Zweige'"
  castShadow
  [receiveShadow]="true"
  [geometry]="model['Cylinder2601_2'].geometry"
  ><ngt-mesh-basic-material

      [side]="2"
      [color]="colors.stem"
  ></ngt-mesh-basic-material
></ngt-mesh>
<ngt-mesh
  [name]="'Blätter'"
  castShadow
  [receiveShadow]="true"
  [geometry]="model['Cylinder2601_3'].geometry"
  ><ngt-mesh-basic-material

      [side]="2"

      [color]="colors.leaves"
  ></ngt-mesh-basic-material
></ngt-mesh>
