<div class="container">
  <div class="w3ls-title">
    <h3 class="agileits-title w3title1">Gewinnspiel</h3>
  </div>

  <div class="card" style="cursor:default">
    <div class="row">
      <div class="col-lg-4 col-md-12 col-sm-12 col-xs-12">
        <div class="img-fluid align-middle p-3">
          <img
            src="../../assets/home_pictures/links/Startseite_Gewinnspiel.jpg"
            alt="..."
            class="card-img"
            style="max-width: 120%; max-height: 100%"
          />
        </div>
      </div>
      <div class="col-lg-8 col-md-12 col-sm-12 col-xs-12 p-4">
        <h3 style="position: relative">
          GROSSES GEWINNSPIEL ZUR SKB 2022 – SO MACHT KARRIERE SPASS!
        </h3>
        <p class="pb-2 card-text">
          Du wünschst dir ein neues i-Pad oder hast Lust auf einen Tag
          Entspannung in der Therme Erding? Zur diesjährigen Studentischen
          Karrierebörse 2022 gibt es jede Menge tolle und hochwertige Preise zu
          gewinnen. Die Colour-your-Future-Teilnahmepässe erhaltet ihr an den
          SKB Infoständen in der Sparkassen-Arena. Die Gewinner werden wenige
          Tage nach der Messe bei einer Live-Verlosung auf Instagram bekannt
          gegeben. Folgt uns dafür unter skb_landshut, da wir hier das genaue
          Datum der Verlosung bekannt geben werden.
        </p>
        <a
          href="../../assets/lottery/SKB_Teilnahmebedingungen_Datenschutz_Gewinnspiel_final.pdf"
          target="_blank"
          class="btn btn-hs"
          >Teilnahmebedingungen >></a
        >
      </div>
    </div>
  </div>
  <br />
  <!--  <div class="card">
        <div class="row">
            <div class="col-lg-4 col-md-12 col-sm-12 col-xs-12">
                <div class="img-fluid align-middle p-3">
                    <img src="../../assets/lottery/Gewinnspieleingabe.jpg" alt="..." class="card-img" style="max-width: 120%; max-height: 100%;">
                </div>
            </div>
            <div class="col-lg-8 col-md-12 col-sm-12 col-xs-12 p-4">
                <h3>Ihr habt alle erforderlichen Codes gesammelt?</h3>
                <p class=" pb-2 card-text">Dann könnt ihr hier eure Codes eingeben.
                    <br />
                    Wir drücken euch die Daumen!
                </p>
                <a routerLink="/BesucherBefragung" target=”_blank” class="btn btn-hs">Jetzt teilnehmen >></a>

            </div>
        </div>
    </div>-->

  <div class="card mb-3" style="cursor: default">
    <div class="row g-0" style="margin-left: 0; margin-right: 0">
      <div class="card-body" *ngIf="gewinnspielsmessepartners$ | async as vm">
        <h3 style="color: grey">WIR DANKEN UNSEREN SPONSOR*INNEN</h3>
        <p class="pb-2 card-text" style="color: grey">
          Unser herzlicher Dank geht an alle Sponsor*innen.
        </p>
        <ng-container *ngFor="let m of vm | getArray">
          <a
            (click)="showMessestand(m.slug? m.slug:'')"
            target="_self"
            rel="noopener noreferrer"
            class="messepartner"
            style="cursor: pointer"
          >
              <img
                [src]="
                  m.logo ? m.logo.url : m.firmenlogo ? m.firmenlogo.url : ''
                "
                class="story_image"
                style="height: 120px; width: 120px"
                alt="m.firma"
              />

          </a>
        </ng-container>
      </div>
    </div>
  </div>
  <br /><br />
</div>
