<ngt-canvas
  [shadows]="true"
  [camera]="{
    position:[positions[0],positions[1],positions[2]],
    rotation:[rotations[0]|radian,rotations[1]|radian,rotations[2]|radian],
    fov: focus,
    far:1000,
    aspect:aspectRatio
  }"
#canvas
frameloop="demand"
>
  <!-- <ngt-axes-helper [scale]="[40,40,40]"
  [position]="[7, -10, -43]"
></ngt-axes-helper> -->
    <!-- [position]="[0, -10, -43]" -->
  <!-- <app-lights></app-lights> -->
  <!-- <ngt-soba-orbit-controls [makeDefault]="false"></ngt-soba-orbit-controls> -->
  <skb-3d-model [aussteller]="aussteller" #model></skb-3d-model>
</ngt-canvas>
 <!-- <ngt-soba-loader></ngt-soba-loader> -->

<!--[30.7,11.25,27.63], -->
