<ngt-group [name]="'model b'" *ngIf="specifications">
  <app-wall-b
    [model]="model['Back_wall002']"
    [color]="specifications['color']"
  ></app-wall-b>
  <app-chairs-b
    [model]="model['chair_made_of_metal_and_wood001']"
  ></app-chairs-b>

  <app-floor-b
    [model]="model['Cube']"
    [url]="'assets/models/floor2.jpg'"
  ></app-floor-b>
  <app-tafeln-b [model]="model"></app-tafeln-b>
  <app-table-b [model]="model"></app-table-b>
  <ngt-group
    [position]="[5.14, 0.06, -9.8]"
    [rotation]="[0, -0.8, 0]"
    [scale]="0.47"
  >
    <app-palm-b [model]="model"></app-palm-b>
  </ngt-group>
  <ngt-group
    [position]="[-9.44, 0.06, 12.2]"
    [rotation]="[0, -0.18, 0]"
    [scale]="[0.47, 0.47, 0.47]"
  >
    <app-palm-b [model]="model"></app-palm-b>
  </ngt-group>
  <ngt-group
    [position]="[-9.28, 0.06, -8.94]"
    [rotation]="[-1 | pi, 0.74, -1 | pi]"
    [scale]="[0.47, 0.47, 0.47]"
  >
    <app-palm-b [model]="model"></app-palm-b>
  </ngt-group>

  <app-ceiling-b [model]="model"></app-ceiling-b>
  <app-desk-b [model]="model" [urls]="specifications['diskUrls']"></app-desk-b>
</ngt-group>
