<div
  class="bg-light p-3 border"
  *ngrxLet="{
    fakultaeten: fakultaeten$,
    jobarten: jobarten$
  } as vm"
>
  <h4>Suche verfeinern</h4>
  <br />
  <p>
    <strong>Nach Suchbegriff:</strong>
    <br />
    <em>Titel, Unternehmen, Ort, Plz, <strong>etc...</strong> </em>
  </p>
  <form [formGroup]="searchForm">
    <input
      type="text"
      formControlName="searchField"
      class="form-control"
      (keyup)="search($event)"
      name="searchTerm"
      id="searchTextField"
      [placeholder]="this.query"
    />
  </form>

  <br />
  <ng-container *ngIf="!isAussteller">
    <p>Nach Einstiegsmöglichkeit:</p>
    <div *ngFor="let jobart of vm.jobarten">
      <mat-checkbox
        class="mat-checkbox"
        color="primary"
        [checked]="jobart.checked"
        [(ngModel)]="jobart.checked"
        (ngModelChange)="update(jobart.art, jobart.checked!)"
      >
        {{ jobart.art }}
      </mat-checkbox>
    </div>
    <br />
  </ng-container>

  <p>und nach Fakultät und Studiengang</p>
  <br />
  <div>
    <mat-accordion [multi]="true">
      <mat-expansion-panel *ngFor="let fak of vm.fakultaeten">
        <mat-expansion-panel-header>
          <mat-panel-title h2> {{ fak.fakultaet }}</mat-panel-title>
        </mat-expansion-panel-header>
        <div *ngFor="let field of fak.studiengangs">
          <mat-checkbox
            color="primary"
            [checked]="field.checked"
            [(ngModel)]="field.checked"
            (ngModelChange)="update(field.studiengang, $event, false)"
          >
            {{ field.studiengang }}
          </mat-checkbox>
        </div>
      </mat-expansion-panel>
    </mat-accordion>
  </div>
  <div>
    <button
      class="btn btn-secondary mt-4 text-uppercase"
      type="button"
      (click)="reset(vm.fakultaeten!, vm.jobarten!)"
    >
      Zurücksetzen
    </button>
  </div>
</div>
