<ng-container *ngIf="texture$ | async as texture">
  <ngt-group *ngIf="!check(texture) && urls.length && urls[0].length">
    <ngt-mesh
      [name]="'tvFrame'"
      [geometry]="model['LCD'].geometry"
      [position]="tvFrame.position"
      [rotation]="tvFrame.rotation"
      [scale]="tvFrame.scale"
      (pointerover)="hover = true"
      (pointerout)="hover = false"
    >
      <ngt-mesh-basic-material

          [side]="1"
          [color]="hover ? 'black' : 'white'"
      ></ngt-mesh-basic-material>
    </ngt-mesh>
    <ngt-mesh
      ngtCursor
      [name]="'tv'"
      [geometry]="model['tv_obj'].geometry"
      [position]="tv.position"
      [rotation]="tv.rotation"
      [scale]="tv.scale"
      (click)="openVideoDialog()"
    >
      <ngt-mesh-standard-material

          [side]="1"
          [map]="texture"
          [metalness]="modelType == 'a' ? 3 : 4.5"
          roughness="1"
         [envMap]="texture"
      ></ngt-mesh-standard-material>
    </ngt-mesh>
  </ngt-group>
</ng-container>
