<ng-container *ngrxLet="fachvortraege$ as fachvortraege; suspenseTpl: loading">
  <mat-tab-group
    #tabRef
    (selectedTabChange)="tabChanged($event)"
    mat-align-tabs="center"
  >
    <ng-container *ngFor="let item of fachvortraege | keyvalue">
      <mat-tab label="{{ item.key }}">
        <skb-presentations-body
          class="col-lg-12 col-md-12 col-sm-12"
          [fachvortraege]="item.value"
        ></skb-presentations-body>
      </mat-tab>
    </ng-container>
  </mat-tab-group>
</ng-container>

<ng-template #loading>
  <skb-loader></skb-loader>
</ng-template>
