    <div class="about">
        <div class="container">
            <div class="w3ls-title table-responsive">
                <h3 class="agileits-title w3title1">Technischer Support</h3>
            </div>
            <div class="about-w3ls-row">
                <div class="col-md-12 about-right">
                    <div class="about-agile-row">
                        <div class="bs-example bs-example-tabs" role="tabpanel" data-example-id="togglable-tabs">
                            <ul id="myTab" class=" nav-tabs" role="tablist">
                            </ul>
                            
                            <div id="myTabContent" class="tab-content">
                                <div class="tabcontent-grids">
                                    <p>Bei technischen Fragen und Problemen allgemein zur Funktionsweise der <b>Veranstaltung/Website</b> sowie bei <b>Fragen und Anwendungsschwierigkeiten</b>, die <b>Zoom</b> betreffen hilft unser Team gerne weiter:</p>
                                    <br />
                                    <p style="color:#be0000">
                                        Per Videokonferenz:
                                        <a href="https://teams.microsoft.com/dl/launcher/launcher.html?url=%2F_%23%2Fl%2Fmeetup-join%2F19%3A9de0410ed9864c30ae85de6276463cf9%40thread.tacv2%2F1620637694957%3Fcontext%3D%257b%2522Tid%2522%253a%25221bc7647e-1f33-4387-b555-145857c79943%2522%252c%2522Oid%2522%253a%2522646f7c83-8750-42c9-b3b9-a0d20b50bdbc%2522%257d%26anon%3Dtrue&type=meetup-join&deeplinkId=c7197273-e4b4-4390-8a68-0ad2d2575875&directDl=true&msLaunch=true&enableMobilePage=true&suppressPrompt=true" target="_blank" style="text-decoration:underline">Bitte hier klicken</a>
                                    </p>
                                    <p style="color:#be0000">Per Telefon: 0871 506 232</p>
                                    <br />
                                    <p>
                                        Bei <b>sonstigen Fragen rund um die Messe </b> helfen wir Ihnen gern an unserem Infopoint weiter: <a routerLink="/Empfangsbereich" target="_blank" style="text-decoration:underline">Bitte hier klicken</a>
                                    </p>
                                    <br />
                                    <b>Tipp:</b>
                                    <p>Bitte benutzen Sie einen der folgenden Browser (aktuelle Version), damit Ihnen die Website bestmöglich angezeigt wird: Microsoft Edge, Mozilla Firefox, Google Chrome, Safari.</p>
                                    <br />
                                    <p>Außerdem empfehlen wir Ihnen über PC, Laptop oder Tablet an der Veranstaltung teilzunehmen, damit die Website optimal angezeigt wird (bei Smartphones kann es zu Einschränkungen kommen).</p>
                                    <br />
                                    <b>Die wichtigsten Regeln für Zoom:</b>
                                    <br />
                                    <p><b>1.	Eintreten:</b>Klicken Sie am Messestand auf „Live-Beratung“ oder im Programm der Fachvorträge bei der gewünschten Veranstaltung in der rechten Spalte auf „Zoom“, „MS Teams“ etc.. </p>
                                    <p><b>2.	Mikrofon und Kamera:</b>Unten, in der Steuerungsleiste können Sie Mikrofon und Kamera aktivieren. Bitte lassen Sie bei Vorträgen das Mikrofon und die Kamera aus.</p>
                                    <p><b>3.	Fragen: </b>Sollten Sie Fragen haben, geben diese im Chatfenster (unten in der Steuerungsleiste) ein oder schalten Sie kurzzeitig das Mikrofon ein.</p>
                                    <p><b>4.	Verbindung unterbrochen: </b>Bei Verbindungsabbruch wählen Sie sich bitte einfach erneut ein.</p>
                                    <br />
                                    <!--<p>Noch keine Erfahrung mit Zoom ?</p>
                                    <a href="https://localhost:44337/#/BesucheFAQsr" target="_blank" style="color:#be0000">Hier erfährst Du, wie Zoom funktioniert.</a>	-->								
                                </div>
                            </div>
                            
                        </div>
                    </div>
                </div>
            </div>
            
        </div>
    </div>

