// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use "@angular/material" as mat;
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
// TODO(v15): As of v15 mat.legacy-core no longer includes default typography styles.
//  The following line adds:
//    1. Default typography styles for all components
//    2. Styles for typography hierarchy classes (e.g. .mat-headline-1)
//  If you specify typography styles for the components you use elsewhere, you should delete this line.
//  If you don't need the default component typographies but still want the hierarchy styles,
//  you can delete this line and instead use:
//    `@include mat.legacy-typography-hierarchy(mat.define-legacy-typography-config());`
@include mat.all-legacy-component-typographies();
@include mat.legacy-core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$SKB-primary: mat.define-palette(mat.$indigo-palette);
$SKB-accent: mat.define-palette(mat.$pink-palette, A200, A100, A400);

// The warn palette is optional (defaults to red).
$SKB-warn: mat.define-palette(mat.$red-palette);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$SKB-theme: mat.define-light-theme(
  (
    color: (
      primary: $SKB-primary,
      accent: $SKB-accent,
      warn: $SKB-warn,
    ),
  )
);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include mat.all-legacy-component-themes($SKB-theme);

/* You can add global styles to this file, and also import other style files */
/* Importing Bootstrap SCSS file. */
@import "bootstrap/scss/bootstrap";
@import "bootstrap-icons/font/bootstrap-icons.css";
html,
body {
  & * {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    line-height: normal;
    & .mat-checkbox-layout {
      white-space: break-spaces !important;
    }

  }
  & p {
    font-size: 1.2em;
    color: #999;
    line-height: 1.8em;
  }
  & h1{
    font-size: large;
  }
  & b,
  strong {
    font-weight: bolder;
  }

  overflow-x: hidden;
  & .sticky-top{
    z-index: 998;
  }
  & nav{
     z-index: 999;
     & *{
       z-index: 999;
     }
    & dropdown-item{
      z-index: 999;
    }

  }
  & .cdk-overlay-pane {
    z-index: 1000;
    overflow-x: hidden;
    overflow-y: auto;
    & * {
      font-size: medium;
    }
    & .btn-secondary {
      transition: 0.2s;
      &:hover {
        background-color: #d9534f;
        color: whitesmoke;
      }
    }
    & .list-group {
      justify-content: center;
      justify-items: center;
      font-size: large;
      font-family: Georgia, "Times New Roman", Times, serif;
      &-item {
        & a {
          text-decoration: none;
        }
        display: inline-block;
        margin-bottom: 1em;
        cursor: pointer;
        transition: 0.3s;
        &:hover {
          a {
            color: white;
          }
          background-color: #0d6efd;
          color: white;
          scale: 1.05;
        }
      }
    }
  }
  height: 100%;
  margin: 0;
}

a {
  text-decoration: none;
}
.card {
  margin-bottom: 2em;
  box-shadow: 0.5rem 0.5rem 0.5rem #aaa;
  transition: 0.6s;
  cursor: pointer;
  &:hover {
    scale: 1.03;
  }
  &:hover .card-body {
    background: dimgray;
    & * {
      color: white;
    }
  }
}
.btn {
  transition: 0.3s;
}
.bi {
  transition: 0.3s;
}
.canvas {
  height: 90vh;
  width: 80vw;
}
h1, h2, h3 , h4 , h5 , h6{
  text-transform: uppercase;
}
@media only screen and (max-width: 650px) {
  .canvas {
    height: 70vh;
    width: 100vw;
  }
}

	table {
  border: 1px solid #ccc;
  border-collapse: collapse;
  margin: 0;
  padding: 0;
  width: 100%;
  table-layout: fixed;
}

table caption {
  font-size: 1.5em;
  margin: .5em 0 .75em;
}

table tr {
  background-color: #f8f8f8;
  border: 1px solid #ddd;
  padding: .35em;
}

table th,
table td {
  padding: .625em;
  text-align: center;
}

table th {
  font-size: .85em;
  letter-spacing: .1em;
  text-transform: uppercase;
}

@media screen and (max-width: 600px) {
  table {
    border: 0;
  }

  table caption {
    font-size: 1.3em;
  }

  table thead {
    border: none;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
  }

  table tr {
    border-bottom: 3px solid #ddd;
    display: block;
    margin-bottom: .625em;
  }

  table td {
    border-bottom: 1px solid #ddd;
    display: block;
    font-size: .8em;
    text-align: right;
  }

  table td::before {
    /*
    * aria-label has no advantage, it won't be read inside a table
    content: attr(aria-label);
    */
    content: attr(data-label);
    float: left;
    font-weight: bold;
    text-transform: uppercase;
  }

  table td:last-child {
    border-bottom: 0;
  }
}
