<div class="modal-body">
  <div class="modal-header">
    <h5 class="modal-title color-green" id="exampleModalLabel">{{ title }}</h5>
    <button
      (click)="onNoClick()"
      type="button"
      class="close"
      aria-label="Close"
      aria-hidden="true"
    >
      &times;
    </button>
  </div>
  <!--modal-body start-->
  <div class="embed-responsive embed-responsive-16by9">
    <iframe
      class="embed-responsive-item"
      [src]="safeSrc"
      frameborder="0"
      allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
      allowfullscreen
    ></iframe>
  </div>
</div>
<!--/modal-body-->
<div class="modal-footer">
  <button
    type="button"
    (click)="onNoClick()"
    class="btn btn-secondary"
    data-dismiss="modal"
  >
    Schließen
  </button>
</div>
