<br />
<div class="container">

  <div class="img-responsive">
    <maphilight id="infopoint" [config]="config">
      <img src="../../../assets/infopoint/Infopoint.jpg" usemap="#image-map" class="map" width="100%"
        (load)="imageResized();">

      <map #map name="image-map">
        <area target="_blank" alt="Fachvorträge" title="Fachvorträge" routerLink="/Fachvortraege"
          coords="517,299,667,310,668,402,517,397" type="button" shape="poly">
        <area target="" alt="Beratung" title="Beratung" routerLink="/Krankenkassen"
          coords="1299,146,1439,90,1439,266,1298,300" shape="poly">
        <area target="" alt="Jobwall" title="Jobwall" routerLink="/Jobwall" coords="514,477,676,480,676,614,514,622"
          shape="poly">
        <area target="" alt="Messehalle" title="Messehalle" routerLink="/Messehalle"
          coords="83,469,250,472,250,660,80,673" shape="poly">
        <area target="_blank" alt="Allgemeine Informationen zur SKB" title="Allgemeine Informationen zur SKB"
          href="https://skb.la/" coords="563,720,827,721,822,918,563,918" shape="poly">
        <area target="_blank" alt="Begrüßungsvideo" data-bs-toggle="modal" type="button"
          (click)="openDialog('BEREICHSLEITUNG SKB 2022','https://www.youtube-nocookie.com/embed/SSECukdpPKY')"
          title="Begrüßungsvideo" coords="1040,620,1185,622,1185,726,1041,717" shape="poly">
        <area target="" alt="Gewinnspiel" title="Gewinnspiel" routerLink="/Gewinnspiel"
          coords="1244,473,1388,468,1388,574,1244,574" shape="poly">
        <area target="_blank" alt="Messebuch" title="Messebuch" routerLink="/Messebuch"
          coords="256,682,346,677,346,595,256,597" shape="poly">
        <area target="" alt="zoom" title="zoom"
          routerLink="https://us02web.zoom.us/j/83060090658?pwd=TDhKcm51UTd0bXFlb1o1Wkg5amdmUT09"
          coords="256,705,346,702,346,794,257,798" shape="poly">
        <area target="_blank" alt="Team" title="Team" href="https://skb.la/das-team/"
          coords="1038,501,1188,496,1188,606,1038,604" shape="poly">
      </map>
    </maphilight>
  </div>

</div>

<br />
