/* from https://www.w3schools.com/howto/howto_css_button_on_image.asp */
    /* Container needed to position the button. Adjust the width as needed */
    .hall-container {
        position: relative;
        width: 100%;
    }

        /* Make the image responsive */
        .hall-container img {
            width: 100%;
            height: 100%;
        }

    .story_image {
        max-width: 25vw;
        height: 100%;
        object-fit: contain;
        /*padding-right: 3em;*/
        max-height: 250px;
    }



    .modal-dialog {
        max-width: 800px;
        margin: 30px auto;
    }

    .modal-body {
        position: relative;
        padding: 0px;
    }

    .close {
        position: absolute;
        right: -30px;
        top: 0;
        z-index: 999;
        font-size: 2rem;
        font-weight: normal;
        color: #fff;
        opacity: 1;
    }

    .modal-fullscreen .modal-body {
        overflow-y: hidden;
    }

    .modal-fullscreen .modal-content {
        height: 95%;
        overflow-y: hidden;
    }

    .sticky-bot {
        bottom: 7em;
        margin-bottom: 3 em;
        position: sticky;
    }

    .button-color {
        background-color: #be0000;
    }