<div class="container">

    <div class="w3ls-title">
        <h3 class="agileits-title w3title1" style="font-size: large;margin-top:2rem;"> Karriereservice und Duales Studium </h3>
    </div>

    <div class="card mb-3" style="cursor:default;">
        <div class="row g-0">
            <div class="col-md-4 text-center">
                <img src="../../assets/beratung_pictures/pictures/Karriereservice.jpg" alt="..." class="p-4 card-img-top">
            </div>
            <div class="col-md-8">
                <div class="card-body">
                    <p class=" pb-2 card-text">
                        Der Karriereservice unterstützt Studierende bei der Kontaktaufnahme zu spannenden Unternehmen. In Veranstaltungen kannst du so alles über die Themen Bewerbungen, Berufseinstieg und relevante SoftSkills lernen. Vereinbare gleich einen Bewerbungsunterlagencheck oder recherchiere auf der (Hochschul)-Jobbörse nach interessanten Stellen.
                    </p>
                </div>
            </div>
        </div>
        <div class="col-md-0">
            <div class="card-body">
                <p class=" pb-2 card-text">
                    Du kannst auch ein Duales Studium aufnehmen und so schon während deiner Studienzeit einer qualifizierenden Tätigkeit nachgehen. Wusstest du, dass du auch nach Studienbeginn bis Ende des dritten Semesters ein Studium mit vertiefter Praxis aufnehmen kannst?! Bei Fragen kannst du gerne auf den Karriereservice zukommen!
                </p>
            </div>
        </div>
    </div>

    <ng-container *ngIf="true">
        <br />
            <!-- <skb-messestand-model [unternehmen]="unternehmen"></skb-messestand-model> -->

    </ng-container>

