<ngt-group
  [position]="[-6.34, 11.65, 13.74]"
  [rotation]="[0, (1 | pi) / 2, 0]"
  [scale]="[0.07, 0.47, 0.5]"
>
  <ngt-mesh
    castShadow
    [receiveShadow]="false"
    [geometry]="model['Cube004'].geometry"
    [material]="model['Cube004'].material"
    >
    <ngt-mesh-standard-material
       [side]="1" color="white"
    ></ngt-mesh-standard-material
  ></ngt-mesh>
  <ngt-mesh
    castShadow
    [receiveShadow]="false"
    [geometry]="model['Cube004_1'].geometry"
    [material]="model['Cube004_1'].material"
    ><ngt-mesh-standard-material
     [side]="1" color="white"
  ></ngt-mesh-standard-material></ngt-mesh>
</ngt-group>
