.carousel-control-prev-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23bf0b22'%3e%3cpath d='M11.354 1.646a.5.5 0 0 1 0 .708L5.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0z'/%3e%3c/svg%3e") !important;    
    width: 30px;
    height: 30px;
}
   
.carousel-control-next-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23bf0b22'%3e%3cpath d='M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e") !important;
    width: 30px;
    height: 30px;
}



.hall-container {
    position: relative;
    width: 100%;
}

    /* Make the image responsive */
    .hall-container img {
        width: 100%;
        height: 100%;
    }


    .hall-container .btn_goin {
        top: 50%;
        left: 50%;
        position: absolute;
        background-color: #bb0000;
        color: white;
        font-size: 20px;
        border: hidden;
    }


    .hall-container .btntest:hover {
        background-color: #bb0000;
    }

    .hall-container .hall_p {
        top: 50%;
        left: 50%;
        position: absolute;
        color: white;
        background-color: black;
    }

.media_list :nth-child(odd) {
    background-color: white;
}

.media_list :nth-child(even) {
    background-color: lightgray;
}


.greetings_image {
    /*width: 100%;
    height: 30vw;*/
    object-fit: fill;
    padding-right: 3em;
    max-height: 300px;
    align-self: center;
}


.modal-dialog {
    max-width: 800px;
    margin: 30px auto;
}



.modal-body {
    position: relative;
    padding: 0px;
}

.close {
    position: absolute;
    right: -30px;
    top: 0;
    z-index: 999;
    font-size: 2rem;
    font-weight: normal;
    color: #fff;
    opacity: 1;
}

.card-footer {
    background-color: white;
    border: hidden;
}

    .card-footer .btn {
        background-color: be0000;
        border-color: white;
    }

.card-img-top2 {
    width: 100%;
    height: 10vw;
    object-fit: contain;
    padding: 1em;
}

.card-body2 {
    width: 100%;
    min-height: 7vh;
}

.align-middle2 {
    text-align: center;
}