<ngt-mesh
  [name]="'table legs'"
  [geometry]="model['der_Tisch'].geometry"
>
  <ngt-mesh-standard-material

      [side]="2"
      metalness="1.0"
      roughness="0"
      [color]="colors.tableLegs"
  ></ngt-mesh-standard-material>
</ngt-mesh>
<ngt-mesh
  [name]="'table top'"
  [geometry]="model['der_Tisch_1'].geometry"
  castShadow
>
  <ngt-mesh-standard-material
     [side]="2"  metalness="1.0" roughness="0"
  ></ngt-mesh-standard-material>
</ngt-mesh>
