<!--Start of Greeting Text-->
<br />
<div style="background-color: white">
  <div class="row" style="margin: auto">
    <div class="col-12 mb-4">
      <h1 class="text-left mb-1">
        <b>
          {{ homepage!.ueberschrift }}
        </b>
      </h1>
      <h2>{{ homepage!.zeitraum }}</h2>
    </div>
    <div class="col-12 mb-4">
      <p [innerHtml]="homepage!.begruessung">
        
      </p>
    </div>
  </div>

  <!--Start of Greeting Cards-->

  <div class="row" style="margin: auto">
    <!-- Row 1-->
    <ng-container *ngFor="let item of homepage!.begruessungsmedia">
      <div
        class="col-lg-4 col-md-6 col-sm-6 col-xs-12 p-4"
        style="margin: auto"
      >
        <div
          class="card align-items-center"
        >
          <a (click)="openDialog(item)">
            <img
              src="{{ item.bild.url }}"
              class="card-img-top p-1"
              alt="{{ item.ueberschrift }}"
            />
          </a>
          <div class="card-footer border-white">
            <p>{{ item.ueberschrift }}</p>
          </div>
        </div>
      </div></ng-container
    >
  </div>

  <br />
</div>
